Repository konveyor/tackle2-ui: changes, and which Codecov flags are due for each by the changed paths.
All: client, server

codecov.yml:

coverage:
  status:
    project:
      default: false

      client:
        informational: true
        target: auto
        flags:
          - client

      server:
        informational: true
        target: auto
        flags:
          - server

flags:
  client:
    paths:
      - client/
  server:
    paths:
      - server/

:bug: Fix application form initial state expansion (#2724)
  client/src/app/pages/applications/application-form/application-form.tsx
Due: client

:bug: Update Cloud Foundry discovery filter form
  client/src/app/components/discover-import-wizard/filter-input-cloudfoundry.tsx
  client/src/app/components/discover-import-wizard/validate-cloudfoundry-schema.tsx
Due: client

reduce diffs on schema change
  client/src/app/components/discover-import-wizard/validate-cloudfoundry-schema.tsx
Due: client

:bug: Update Cloud Foundry discovery filter form (#2727)
  client/src/app/components/discover-import-wizard/filter-input-cloudfoundry.tsx
  client/src/app/components/discover-import-wizard/validate-cloudfoundry-schema.tsx
Due: client

Debug UI #1 (#2)
  konflux.Dockerfile
Due: none

:ghost: Add a hack/import-questionnaire with long German text (#2717)
  hack/import-questionnaire/german-longertext.yaml
Due: none

UI Debug #2
  konflux.Dockerfile
Due: none

Update dockerignore
  .dockerignore
Due: none

recommend vscode extensions for prettier and eslint, sample configs
  .gitignore
  .vscode/extensions.json
  .vscode/settings.sample.json
Due: none

a few lint fixes in client
  client/src/app/test-config/setupTests.ts
  client/src/mocks/browser.ts
Due: client

More plugin updates and configuration updates
  .prettierignore
  common/src/environment.ts
  cypress/cypress.config.ts
  cypress/support/e2e.ts
  eslint.config.mjs
  package-lock.json
  package.json
Due: none

coderabbit suggestion - comment fix
  eslint.config.mjs
Due: none

:seedling: Update ESLint to v9
  .eslintrc.cjs
  .github/ISSUE_TEMPLATE/bug.yaml
  .husky/install.mjs
  .lint-root.sh
  .lintstagedrc.mjs
  .prettierignore
  BRANDING.md
  VERSIONING.md
  client/__mocks__/fileMock.js
  client/__mocks__/raw-loader.js
  client/__mocks__/react-i18next.js
  client/__mocks__/styleMock.js
  client/i18next-parser.config.js
  client/package.json
  client/src/app/components/detail-drawer/review-label.tsx
  client/src/app/pages/applications/analysis-wizard/components/TaskGroupContext.tsx
  client/src/app/pages/applications/analysis-wizard/schema.ts
  common/rollup.config.js
  common/src/environment.ts
  cspell.json
  cypress/.eslintrc.cjs
  cypress/package.json
  cypress/utils/utils.ts
  docs/development.md
  docs/tests.md
  eslint.config.mjs
  package-lock.json
  package.json
  server/src/index.js
  server/src/proxies.js
Due: client, server

coderabbit suggestions
  .github/ISSUE_TEMPLATE/bug.yaml
  .lint-root.sh
  .lintstagedrc.mjs
Due: none

fix linting errors in common and server
  common/rollup.config.js
  server/rollup.config.js
  server/src/index.js
Due: server

fixup the ci-repo.yml to do postinstall build before linting to support import checks
  .github/workflows/ci-repo.yml
Due: none

lint-staged shared glob configs, check scripts, prettier wrapper
  .lintstagedrc.mjs
  client/.lintstagedrc.mjs
  client/package.json
  common/.lintstagedrc.mjs
  common/package.json
  cypress/.lintstagedrc.mjs
  cypress/package.json
  package-lock.json
  package.json
  scripts/prettier_wrapper.js
  server/.lintstagedrc.mjs
  server/package.json
Due: client, server

lint and format scripts parity across workspaces
  .prettierignore
  client/package.json
  common/package.json
  cypress/package.json
  hack/prettier_config_check.js
  package.json
  scripts/eslint-w.sh
  scripts/prettier-w.sh
  server/package.json
Due: client, server

update lockfile
  package-lock.json
Due: none

Fix prettier fail, add `prettier_config.js`
  .github/workflows/stale.yml
  .prettierignore
  hack/prettier_config.js
  package-lock.json
  package.json
Due: none

explicit bump for typescript to 5.7.3
  package.json
Due: none

rename hack script to 'prettier_config_check.js'
  hack/prettier_config_check.js
Due: none

migrate to eslint-plugin-import-x
  client/src/app/test-config/test-utils.tsx
  eslint.config.mjs
  package-lock.json
  package.json
Due: client

fixup .lint-root.sh to show the lint commands as they run
  .lint-root.sh
Due: none

'prettier_config_check.js' to handle windows paths
  hack/prettier_config_check.js
Due: none

first cut as seperating formatting and linting
  .lintstagedrc.mjs
  .prettierignore
  client/package.json
  common/package.json
  cypress/package.json
  eslint.config.mjs
  package-lock.json
  package.json
  server/package.json
Due: client, server

fix import in server/index.js again
  server/src/index.js
Due: server

Fix the root level lint-staged config to remove overlaps
  .lintstagedrc.mjs
Due: none

run scripts with clean-install in unit-test CI so types can be checked by the linter
  .github/workflows/ci-repo.yml
Due: none

coderabbit suggestion - remove unnecessary eslint-env tag
  server/rollup.config.js
Due: server

drop workspace lintstagedrc.mjs since they just repeated the same config as the root
  client/.lintstagedrc.mjs
  common/.lintstagedrc.mjs
  cypress/.lintstagedrc.mjs
  server/.lintstagedrc.mjs
Due: client, server

update settings.sample.json
  .vscode/settings.sample.json
Due: none

directly ref ignore files from workspace format/prettier scripts
  client/package.json
  common/package.json
  cypress/package.json
  server/package.json
Due: client, server

helper and hack script cleanup
  hack/prettier_config_check.js
  package.json
  scripts/eslint-w.sh
  scripts/prettier-w.sh
  scripts/prettier_wrapper.js
Due: none

:seedling: Run `npm run lint:fix` and some minor adjustments
  client/public/mockServiceWorker.js
  client/src/app/components/answer-table/answer-table.tsx
  client/src/app/components/detail-drawer/review-fields.tsx
  client/src/app/components/insights/tables/all-insights-table.tsx
  client/src/app/components/insights/tables/single-application-insights-table.tsx
  client/src/app/hooks/table-controls/filtering/useFilterState.ts
  client/src/app/hooks/useSelectionState/useSelectionState.test.ts
  client/src/app/pages/applications/analysis-wizard/__tests__/analysis-wizard.test.tsx
  client/src/app/pages/applications/application-detail-drawer/components/download-button.tsx
  client/src/app/pages/applications/application-form/__tests__/application-form.test.tsx
  client/src/app/pages/archetypes/components/archetype-form.tsx
  client/src/app/pages/asset-generators/asset-generators.tsx
  client/src/app/pages/identities/components/identity-form/__tests__/identity-form.test.tsx
  client/src/app/pages/insights/file-incidents-detail-modal/incident-code-snip-viewer.tsx
  client/src/app/pages/issues/file-incidents-detail-modal/incident-code-snip-viewer.tsx
  client/src/app/pages/migration-targets/components/custom-target-form.tsx
  client/src/app/pages/proxies/__tests__/proxy-form.test.tsx
  client/src/app/pages/review/components/review-form/review-form.tsx
  client/src/app/pages/source-platforms/components/platform-form.tsx
  package-lock.json
Due: client

E2e tests workflows
  .github/workflows/e2e-run-ui-tests.yaml
  .github/workflows/e2e-tier0-nightly.yaml
  .github/workflows/e2e-tier0-push-main.yaml
Due: none

Rename e2e workflows, update artifact upload path
  .github/workflows/e2e-run-ui-tests.yaml
  .github/workflows/e2e-tier0-nightly.yaml
  .github/workflows/e2e-tier0-push-main.yaml
Due: none

:test_tube: Add `cypress/` to `.dockerignore`
  .dockerignore
Due: none
