Repository konveyor/tackle2-ui: changes, and which Codecov flags are due for each by the changed paths.
All: client, server

:bug: Fix packaging of fonts (#2020)
  client/config/webpack.common.ts
  client/package.json
  package-lock.json
Due: client

:bug: Add application risk filter of "Unassessed" (#2032)
  client/public/locales/en/translation.json
  client/src/app/Constants.ts
  client/src/app/api/models.ts
  client/src/app/components/RiskLabel.tsx
  client/src/app/components/application-assessment-donut-chart/application-assessment-donut-chart.tsx
  client/src/app/components/tests/RiskLabel.test.tsx
  client/src/app/pages/applications/applications-table/applications-table.tsx
  client/src/app/pages/applications/components/application-detail-drawer/application-detail-drawer.tsx
  client/src/app/pages/archetypes/components/archetype-detail-drawer.tsx
  client/src/app/pages/reports/components/adoption-candidate-table/adoption-candidate-table.tsx
  client/src/app/utils/type-utils.ts
  hack/import-questionnaire/assign-risk.yaml
Due: client

:sparkles: Add handling for tasks "Succeeded with errors" in task and application tables (#2011)
  client/public/locales/en/translation.json
  client/src/app/api/models.ts
  client/src/app/api/rest.ts
  client/src/app/components/Icons/IconedStatus.tsx
  client/src/app/components/Icons/TaskStateIcon.tsx
  client/src/app/components/tests/__snapshots__/StatusIcon.test.tsx.snap
  client/src/app/pages/applications/applications-table/applications-table.tsx
  client/src/app/pages/applications/applications-table/components/column-application-name.tsx
  client/src/app/pages/applications/applications-table/useDecoratedApplications.ts
  client/src/app/pages/applications/components/application-analysis-status.tsx
  client/src/app/pages/applications/components/application-detail-drawer/application-detail-drawer.tsx
  client/src/app/pages/tasks/tasks-page.tsx
  client/src/app/queries/archetypes.ts
  client/src/app/queries/tasks.ts
Due: client

:seedling: Add data attributes to table rows (#1996)
  client/src/app/hooks/table-controls/types.ts
  client/src/app/hooks/table-controls/useTableControlProps.ts
  client/src/app/pages/applications/applications-table/applications-table.tsx
  client/src/app/pages/applications/manage-imports-details/manage-imports-details.tsx
  client/src/app/pages/applications/manage-imports/manage-imports.tsx
  client/src/app/pages/archetypes/archetypes-page.tsx
  client/src/app/pages/assessment-management/assessment-settings/assessment-settings-page.tsx
  client/src/app/pages/assessment/components/assessment-actions/components/questionnaires-table.tsx
  client/src/app/pages/controls/business-services/business-services.tsx
  client/src/app/pages/controls/job-functions/job-functions.tsx
  client/src/app/pages/controls/stakeholder-groups/stakeholder-groups.tsx
  client/src/app/pages/controls/stakeholders/stakeholders.tsx
  client/src/app/pages/controls/tags/tags.tsx
  client/src/app/pages/external/jira/trackers.tsx
  client/src/app/pages/identities/identities.tsx
  client/src/app/pages/migration-waves/components/manage-applications-form.tsx
  client/src/app/pages/migration-waves/components/stakeholders-table.tsx
  client/src/app/pages/migration-waves/components/wave-applications-table.tsx
  client/src/app/pages/migration-waves/components/wave-status-table.tsx
Due: client

:bug: Upgrade `express` dependency (#2036)
  common/package.json
  package-lock.json
  package.json
  server/package.json
Due: server

:bug: Fix target card behavior and rendering (#2025)
  client/src/app/components/target-card/target-card.css
  client/src/app/components/target-card/target-card.tsx
  client/src/app/pages/applications/analysis-wizard/set-targets.tsx
Due: client

:bug: Fix application edit data source (#2008)
  client/src/app/pages/applications/applications-table/applications-table.tsx
  client/src/app/pages/applications/applications-table/useDecoratedApplications.ts
Due: client

:ghost: Update setup-operator to include hub volume sizes (#2081)
  hack/setup-operator.sh
Due: none

:bug: Allow creating archetype without tags (#2047)
  client/src/app/pages/archetypes/components/archetype-form/archetype-form.tsx
Due: client

:bug: Change Preemption column tooltip to indicate that tasks are re-scheduled (#2059)
  client/public/locales/en/translation.json
Due: client

:book: WSL/Windows setup docs, rework setup docs (#2080)
  README.md
  docs/development.md
  docs/local-minikube-setup.md
  docs/tests.md
  hack/README.md
  hack/wsl/README.md
  hack/wsl/shim_scripts/kubectl.sh
  hack/wsl/shim_scripts/minikube.sh
Due: none

:bug: Use standard filters for languages in the Set Targets step (#2045)
  client/src/app/components/FilterToolbar/FilterToolbar.tsx
  client/src/app/components/SimpleSelectCheckbox.tsx
  client/src/app/pages/applications/analysis-wizard/set-targets.tsx
  client/src/app/queries/targets.ts
Due: client

:seedling: Configure npm fetch timeout in Dockerfile build (#2060)
  Dockerfile
Due: none

:seedling: ci-repo: concurrency limits, codecov upload (#2056)
  .github/workflows/ci-repo.yml
Due: none

:book: Fix wsl docs curl commands (#2082)
  hack/wsl/README.md
Due: none

:bug: Close dropdown after selection or click outside the list (#2077)
  client/src/app/components/FilterToolbar/FilterToolbar.tsx
  client/src/app/components/ToolbarBulkSelector.tsx
Due: client

:ghost: Update README.md for release-0.5 CI status (#2063)
  README.md
Due: none

:bug: Use default truncation strategy for the archetype description cell (#2048)
  client/src/app/pages/archetypes/archetypes-page.tsx
  client/src/app/pages/archetypes/components/archetype-description-column.tsx
Due: client

:bug: Split the reports landscape unknown/unassessed chart (#2052)
  client/public/locales/en/translation.json
  client/src/app/pages/reports/components/application-landscape/application-landscape.tsx
Due: client

:sparkles: Update stakeholders table to use ActionsColumn (#1923)
  client/src/app/pages/controls/stakeholders/stakeholders.tsx
Due: client

:bug: Remove extra link from empty task drawer (#2073)
  client/src/app/components/task-manager/TaskManagerDrawer.tsx
Due: client

:seedling: Update project to use nodejs 20, npm >=10.5.2 (#2062)
  .dockerignore
  Dockerfile
  package-lock.json
  package.json
Due: none

:sparkles: Use InfiniteScroller pattern for the Task Drawer (#2049)
  client/public/locales/en/translation.json
  client/src/app/components/InfiniteScroller/InfiniteScroller.css
  client/src/app/components/InfiniteScroller/InfiniteScroller.tsx
  client/src/app/components/InfiniteScroller/index.ts
  client/src/app/components/InfiniteScroller/useVisibilityTracker.tsx
  client/src/app/components/task-manager/TaskManagerDrawer.tsx
  client/src/app/queries/tasks.ts
Due: client

:seedling: Image build, use variables for repo push (#2090)
  .github/workflows/image-build.yaml
Due: none

:sparkles: Add edit icon with ActionColumns property in the Archetypes table (#2098)
  client/src/app/pages/archetypes/archetypes-page.tsx
Due: client

:sparkles: Add ActionsColumn to Job Functions table (#2101)
  client/public/locales/en/translation.json
  client/src/app/pages/controls/job-functions/job-functions.tsx
Due: client

:bug: Fix fetching in InfiniteScroller (#2085)
  client/src/app/components/InfiniteScroller/InfiniteScroller.tsx
  client/src/app/components/InfiniteScroller/useVisibilityTracker.tsx
  client/src/app/components/task-manager/TaskManagerDrawer.tsx
Due: client

:sparkles: Extend filtering in the Set Target step (#2092)
  client/src/app/pages/applications/analysis-wizard/set-targets.tsx
  client/src/app/utils/rules-utils.ts
Due: client

:sparkles: Add /kai reverse-proxy route. (#2089)
  common/src/proxies.ts
Due: none

:sparkles: Update stakeholder groups table to use ActionsColumn (#2095)
  client/src/app/pages/controls/stakeholder-groups/stakeholder-groups.tsx
Due: client

:bug: Fix closing filter chips created via SelectFilterControl (#2093)
  client/src/app/components/FilterToolbar/SelectFilterControl.tsx
Due: client

:sparkles: Add cancel option for multiple analyses (#2099)
  client/public/locales/en/translation.json
  client/src/app/pages/applications/applications-table/applications-table.tsx
Due: client

:seedling: Skip PR CI actions for docs/hacks changes (#2084)
  .github/workflows/ci-global.yml
  .github/workflows/ci-image-build.yml
  .github/workflows/ci-repo.yml
Due: none

:sparkles: Implement bulk analysis cancellation (#2163)
  client/src/app/api/rest.ts
  client/src/app/pages/applications/applications-table/applications-table.tsx
  client/src/app/queries/tasks.ts
Due: client

:bug: Support custom serializers in table hooks (#2079)
  client/src/app/hooks/table-controls/active-item/useActiveItemState.ts
  client/src/app/hooks/table-controls/expansion/useExpansionState.ts
  client/src/app/hooks/table-controls/filtering/useFilterState.ts
  client/src/app/hooks/table-controls/pagination/usePaginationState.ts
  client/src/app/hooks/table-controls/sorting/useSortState.ts
  client/src/app/hooks/table-controls/types.ts
  client/src/app/hooks/table-controls/useTableControlState.ts
  client/src/app/hooks/usePersistentState.ts
  client/src/app/pages/applications/analysis-wizard/analysis-wizard.tsx
  client/src/app/pages/applications/analysis-wizard/schema.ts
  client/src/app/pages/applications/analysis-wizard/set-targets.tsx
Due: client

:book: Update README.md for release-0.6 branch (#2155)
  README.md
Due: none

:ghost: Update browserslist/caniuse DB (#2091)
  package-lock.json
Due: none

:bug: Disabling useFetchCache query if RWX_SUPPORTED=false (#1963)
  client/src/app/queries/cache.ts
Due: client

:sparkles: tags table change button styles (#2119)
  client/src/app/pages/controls/tags/components/tag-table.tsx
  client/src/app/pages/controls/tags/tags.tsx
Due: client

:seedling: Update ci-global.yml use ttl.sh and global-ci-bundle.yml (#2179)
  .github/workflows/ci-global.yml
Due: none

Path conditions:
  client: any of: client/
  server: any of: server/
