Repository konveyor/tackle2-ui: changes, and which Codecov flags are due for each by the changed paths.
All: client, server

:ghost: Fixed bookserver URL (#3564)
  cypress/fixtures/application.json
  cypress/fixtures/custom-rules.json
Due: none

better check results
  .github/workflows/ci-repo.yml
Due: none

single matrix, final 'unit-test' job for branch protection rules to check
  .github/workflows/ci-repo.yml
Due: none

:seedling: Update CI workflow to use LTS node versions
  .github/workflows/ci-repo.yml
Due: none

coderabbit suggestions
  .github/workflows/ci-repo.yml
Due: none

:test_tube: Fixed some flaky tests because of tasks finishing too quickly (#3555)
  cypress/e2e/tests/migration/applicationinventory/applications/create.test.ts
  cypress/e2e/tests/migration/task-manager/sorting.filter.pagination.test.ts
Due: none

:seedling: Update CI workflow to use LTS node versions (#3554)
  .github/workflows/ci-repo.yml
Due: none

Integrate agentic parameters with approval safety
  README.md
  client/public/locales/en/translation.json
  client/src/app/api/agentic/contract.ts
  client/src/app/api/rest/agent-runs.test.ts
  client/src/app/api/rest/agent-runs.ts
  client/src/app/pages/agent-runs/components/CreateRunModal.tsx
  client/src/app/pages/agent-runs/components/RunParameterForms.test.tsx
  client/src/app/pages/workflow-runs/components/CreateWorkflowRunModal.tsx
  docs/agentic-run-parameters.md
Due: client

:sparkles: Add agent run cleanup and broken-run filters (#3556, #3557)
  client/public/locales/en/translation.json
  client/src/app/api/rest/agent-runs.ts
  client/src/app/pages/agent-runs/agent-runs-page.tsx
  client/src/app/queries/agent-runs.ts
  client/src/app/scopes.ts
Due: client

:sparkles: Replace express server/proxy with Caddy
  .github/dependabot.yml
  .github/workflows/ci-repo.yml
  Dockerfile
  client/config/ClientEnvInjectPlugin.ts
  client/config/rspack.common.mts
  client/config/rspack.dev.mts
  client/config/rspack.prod.mts
  client/public/index.html.caddy.tmpl
  client/public/index.html.ejs
  client/src/app/env.ts
  client/src/env/types.ts
  client/tsconfig.json
  client/types/globals.d.ts
  codecov.yml
  common/src/env-types.ts
  common/src/index.ts
  container/caddy/Caddyfile.dev
  container/caddy/Caddyfile.prod
  container/caddy/env.json.tmpl
  container/caddy/proxy-routes.caddy
  container/entrypoint/go.mod
  container/entrypoint/main.go
  cspell.json
  cypress/support/commands.ts
  entrypoint.sh
  eslint.config.mjs
  package-lock.json
  package.json
  scripts/run-proxy.sh
  server/package.json
  server/rollup.config.js
  server/src/index.js
  server/src/proxies.js
  server/src/serverConfig.js
Due: client, server

[release-0.10] :bug: Update ys-yaml
  client/package.json
  cypress/package.json
  package-lock.json
Due: client

:ghost: CVE update for `js-yaml`
  package-lock.json
Due: none

:bug: CVE update for `js-yaml` (#3592)
  package-lock.json
Due: none

:ghost: Bump @tanstack/eslint-plugin-query
  client/src/app/queries/analysis.ts
  package-lock.json
  package.json
Due: client

:ghost: Bump @tanstack/eslint-plugin-query (#3591)
  client/src/app/queries/analysis.ts
  package-lock.json
  package.json
Due: client

Fix flaky task manager e2e tests (cherry-pick of #3555 for PF5)
  cypress/e2e/tests/migration/task-manager/sorting.filter.pagination.test.ts
Due: none

[release-0.10] :bug: CVE update for `js-yaml` (#3583)
  client/package.json
  cypress/package.json
  package-lock.json
Due: client

[release-0.10] :bug: Update qs
  package-lock.json
  package.json
Due: none

:test_tube: Fix flaky task manager e2e tests (cherry-pick of #3555 for PF5) (#3596)
  cypress/e2e/tests/migration/task-manager/sorting.filter.pagination.test.ts
Due: none

[release-0.10] :bug: CVE update for `qs` (#3585)
  package-lock.json
  package.json
Due: none

[release-0.10] :ghost: Bump browserslist from 4.28.1 to 4.28.9
  client/package.json
  package-lock.json
Due: client

[release-0.10] :ghost: Bump browserslist from 4.28.1 to 4.28.9 (#3587)
  client/package.json
  package-lock.json
Due: client

[release-0.10] :bug: CVE update for `fast-xml-parser`
  client/package.json
  package-lock.json
Due: client

[release-0.9] :ghost: Bump browserslist from 4.28.1 to 4.28.9
  client/package.json
  package-lock.json
Due: client

[release-0.10] :bug: CVE update for `fast-xml-parser` (#3589)
  client/package.json
  package-lock.json
Due: client

[release-0.9] :ghost: Bump browserslist from 4.28.1 to 4.28.9 (#3588)
  client/package.json
  package-lock.json
Due: client

:ghost: Update axios dependency to 1.19.0
  package-lock.json
  package.json
Due: none

[release-0.9] :ghost: Update axios dependency to 1.19.0 (#3595)
  package-lock.json
  package.json
Due: none

[release-0.9] :bug: CVE update for `qs`
  package-lock.json
  package.json
Due: none

:bug: Surface Hub errors on the agentic pages instead of spinning
  client/src/app/components/AgenticFetchError.tsx
  client/src/app/queries/agentic-polling.ts
  client/src/app/utils/agentic-fetch-error.test.ts
Due: client

:bug: Add the files missed from the agentic fetch-error commit
  client/public/locales/en/translation.json
  client/src/app/pages/agent-runs/agent-run-detail-page.tsx
  client/src/app/pages/agent-runs/agent-runs-page.tsx
  client/src/app/pages/agents/agents-page.tsx
  client/src/app/pages/gateways/gateways-page.tsx
  client/src/app/pages/skills/skills-page.tsx
  client/src/app/pages/workflow-runs/workflow-run-detail-page.tsx
  client/src/app/pages/workflow-runs/workflow-runs-page.tsx
  client/src/app/pages/workflows/workflows-page.tsx
  client/src/app/queries/agent-runs.ts
  client/src/app/queries/agentic-catalog.ts
  client/src/app/queries/agents.ts
  client/src/app/queries/skills.ts
  client/src/app/queries/workflow-runs.ts
  client/src/app/queries/workflows.ts
  client/src/app/utils/agentic.ts
Due: client

[release-0.9] :bug: CVE update for `qs` (#3586)
  package-lock.json
  package.json
Due: none

[release-0.9] :bug: Update js-yaml
  client/package.json
  cypress/package.json
  package-lock.json
Due: client

version typo on the cypress/package.json js-yaml semver
  cypress/package.json
Due: none

[release-0.9] :bug: CVE update for `js-yaml` (#3584)
  client/package.json
  cypress/package.json
  package-lock.json
Due: client

[release-0.9] :bug: CVE update for `fast-xml-parser`
  client/package.json
  package-lock.json
Due: client

[release-0.9] :bug: CVE update for `fast-xml-parser` (#3590)
  client/package.json
  package-lock.json
Due: client

Path conditions:
  client: any of: client/
  server: any of: server/
