Repository konveyor/tackle2-ui: changes, and which Codecov flags are due for each by the changed paths.
All: client, server

codecov.yml:

coverage:
  status:
    project:
      default: false

      client:
        informational: true
        target: auto
        flags:
          - client

      server:
        informational: true
        target: auto
        flags:
          - server

flags:
  client:
    paths:
      - client/
  server:
    paths:
      - server/

:seedling: Adopt rspack (webpack), rslib (rollup) for build and packaging
  client/config/jest.config.ts
  client/config/rspack.common.mts
  client/config/rspack.dev.mts
  client/config/rspack.prod.mts
  client/config/stylePaths.ts
  client/config/webpack.common.ts
  client/config/webpack.prod.ts
  client/package.json
  common/package.json
  common/rollup.config.js
  common/rslib.config.ts
  common/src/branding-strings-stub.json
  common/src/branding-types.ts
  common/src/branding.ts
  common/src/virtual-modules.d.ts
  common/tsconfig.json
  cspell.json
  package-lock.json
  package.json
  server/package.json
  server/rollup.config.js
  server/rslib-plugin-run.ts
  server/rslib.config.ts
  server/src/index.js
Due: client, server

feat(agentic): skills authoring, detail drawers, and run-side skill visibility
  client/public/locales/en/translation.json
  client/src/app/api/agentic/contract.ts
  client/src/app/pages/agent-runs/agent-run-detail-page.tsx
  client/src/app/pages/agent-runs/agent-runs.css
  client/src/app/pages/agent-runs/components/ChatPanel.tsx
  client/src/app/pages/agent-runs/components/CreateRunModal.tsx
  client/src/app/pages/agent-runs/components/ReadyLabel.tsx
  client/src/app/pages/agent-runs/components/RunSkillsSummary.tsx
  client/src/app/pages/agents/agents-page.tsx
  client/src/app/pages/agents/components/AgentDesignerModal.tsx
  client/src/app/pages/skills/components/SkillCardDetailDrawer.tsx
  client/src/app/pages/skills/components/SkillCardMarkdownEditor.tsx
  client/src/app/pages/skills/components/SkillCardModal.tsx
  client/src/app/pages/skills/components/SkillCollectionDetailDrawer.tsx
  client/src/app/pages/skills/components/SkillCollectionMemberCardSelect.tsx
  client/src/app/pages/skills/components/SkillCollectionModal.tsx
  client/src/app/pages/skills/components/SkillLabels.tsx
  client/src/app/pages/skills/skills-page.tsx
  client/src/app/pages/skills/skills.css
  client/src/app/utils/skills.ts
Due: client

common: build marker plugin
  common/rslib-plugin-build-marker.ts
  common/rslib.config.ts
  package.json
Due: none

chore(agentic): drop six unreferenced skills i18n keys
  client/public/locales/en/translation.json
Due: client

docs(agentic): document AGENTIC_ENABLED / AGENTIC_STEER_ENABLED (README, ARCHITECTURE.md)
  ARCHITECTURE.md
  README.md
Due: none

server: proper logging for the run plugin
  server/rslib-plugin-run.ts
Due: server

rslib-plugin-run coderabbit comments
  package.json
  server/rslib-plugin-run.ts
Due: server

enhance rslib plugin logging, fixup run plugin
  common/package.json
  common/rslib-plugin-build-marker.ts
  cspell.json
  package-lock.json
  server/package.json
  server/rslib-plugin-run.ts
Due: server

tweak to allow server package bin to run properly
  server/src/index.js
Due: server

:seedling: Switch to rspack for client bundling
  client/config/jest.config.ts
  client/config/rspack.common.mts
  client/config/rspack.dev.mts
  client/config/rspack.prod.mts
  client/config/stylePaths.ts
  client/config/webpack.common.ts
  client/config/webpack.prod.ts
  client/package.json
  package-lock.json
  package.json
Due: client

update lockfile with node24.20 / npm11.19
  package-lock.json
Due: none

:seedling: Switch to rspack for client bundling (#3553)
  client/config/jest.config.ts
  client/config/rspack.common.mts
  client/config/rspack.dev.mts
  client/config/rspack.prod.mts
  client/config/stylePaths.ts
  client/config/webpack.common.ts
  client/config/webpack.prod.ts
  client/package.json
  package-lock.json
  package.json
Due: client

Fixed some flaky tests because of tasks finishing too quick
  cypress/e2e/tests/migration/applicationinventory/applications/create.test.ts
  cypress/e2e/tests/migration/task-manager/sorting.filter.pagination.test.ts
Due: none

Fixed some flaky tests because of tasks finishing too quick
  cypress/e2e/tests/migration/task-manager/sorting.filter.pagination.test.ts
Due: none

:test_tube: Fixed some flaky tests because of tasks finishing too quickly (#3555)
  cypress/e2e/tests/migration/applicationinventory/applications/create.test.ts
  cypress/e2e/tests/migration/task-manager/sorting.filter.pagination.test.ts
Due: none

feat: playbook runs surface — list, detail stage ladder, create modal
  client/src/app/Paths.ts
  client/src/app/Routes.tsx
  client/src/app/api/rest/agent-runs.ts
  client/src/app/layout/SidebarApp/SidebarApp.tsx
  client/src/app/pages/agent-runs/components/sources.tsx
  client/src/app/pages/playbook-runs/components/CreatePlaybookRunModal.tsx
  client/src/app/pages/playbook-runs/index.ts
  client/src/app/pages/playbook-runs/playbook-run-detail-page.tsx
  client/src/app/pages/playbook-runs/playbook-runs-page.tsx
  client/src/app/queries/agent-runs.ts
Due: client

fix: CreateRunModal resolves app-sourced params at create time
  client/src/app/pages/agent-runs/components/CreateRunModal.tsx
Due: client

fix: seed-invalidate providers, block playbook runs on repo-less apps
  client/src/app/pages/playbook-runs/components/CreatePlaybookRunModal.tsx
  client/src/app/queries/agent-runs.ts
Due: client

feat: load-defaults seeding — REST, mutation hook, shared button
  client/src/app/api/agentic/contract.ts
  client/src/app/api/rest/agent-runs.ts
  client/src/app/pages/agent-runs/components/LoadDefaultsButton.tsx
  client/src/app/pages/agents/agents-page.tsx
  client/src/app/pages/playbooks/playbooks-page.tsx
  client/src/app/pages/skills/skills-page.tsx
  client/src/app/queries/agent-runs.ts
Due: client

feat: run-detail parity — run-spec panel and target-branch panel
  client/src/app/api/agentic/contract.ts
  client/src/app/pages/agent-runs/agent-run-detail-page.tsx
  client/src/app/pages/agent-runs/components/BranchPanel.tsx
  client/src/app/pages/playbook-runs/playbook-run-detail-page.tsx
  client/src/app/queries/agent-runs.ts
Due: client

fix: lint and format gates for the agentic console
  client/src/app/pages/agent-runs/components/ChatPanel.tsx
  client/src/app/pages/agents/components/AgentDesignerModal.tsx
  client/src/app/queries/agent-runs.ts
Due: client

feat: agentic management UX — agent runs, agents, skills, playbooks
  client/src/app/Paths.ts
  client/src/app/Routes.tsx
  client/src/app/api/agentic/acp.ts
  client/src/app/api/agentic/contract.ts
  client/src/app/api/agentic/index.ts
  client/src/app/api/rest.ts
  client/src/app/api/rest/agent-runs.ts
  client/src/app/layout/SidebarApp/SidebarApp.tsx
  client/src/app/pages/agent-runs/agent-run-detail-page.tsx
  client/src/app/pages/agent-runs/agent-runs-page.tsx
  client/src/app/pages/agent-runs/agent-runs.css
  client/src/app/pages/agent-runs/components/ChatPanel.tsx
  client/src/app/pages/agent-runs/components/CreateRunModal.tsx
  client/src/app/pages/agent-runs/components/PhaseLabel.tsx
  client/src/app/pages/agent-runs/components/sources.tsx
  client/src/app/pages/agent-runs/index.ts
  client/src/app/pages/agents/agents-page.tsx
  client/src/app/pages/agents/components/AgentDesignerModal.tsx
  client/src/app/pages/agents/index.ts
  client/src/app/pages/playbooks/components/PlaybookComposerModal.tsx
  client/src/app/pages/playbooks/index.ts
  client/src/app/pages/playbooks/playbooks-page.tsx
  client/src/app/pages/skills/components/SkillCardModal.tsx
  client/src/app/pages/skills/components/SkillCollectionModal.tsx
  client/src/app/pages/skills/index.ts
  client/src/app/pages/skills/skills-page.tsx
  client/src/app/queries/agent-runs.ts
  common/src/env-types.ts
  server/src/index.js
  server/src/proxies.js
  server/src/serverConfig.js
Due: client, server

feat: link target branch to its forge page; prefer the run's own repo URL
  client/src/app/pages/agent-runs/agent-run-detail-page.tsx
  client/src/app/pages/agent-runs/components/BranchPanel.tsx
Due: client

fix(agent-runs): require an application for konveyor-managed agents
  client/src/app/api/agentic/contract.ts
  client/src/app/pages/agent-runs/components/CreateRunModal.tsx
Due: client

refactor: adopt DEFAULT_REFETCH_INTERVAL polling convention for agentic hooks
  client/src/app/pages/agent-runs/agent-run-detail-page.tsx
  client/src/app/pages/agent-runs/agent-runs-page.tsx
  client/src/app/pages/playbook-runs/playbook-run-detail-page.tsx
  client/src/app/pages/playbook-runs/playbook-runs-page.tsx
  client/src/app/queries/agent-runs.ts
Due: client

Rename playbook console surfaces to workload
  client/public/locales/en/translation.json
  client/src/app/Paths.ts
  client/src/app/Routes.tsx
  client/src/app/api/agentic/contract.ts
  client/src/app/api/rest/agent-runs.ts
  client/src/app/layout/SidebarApp/SidebarApp.tsx
  client/src/app/pages/agent-runs/components/BranchPanel.tsx
  client/src/app/pages/agent-runs/components/LoadDefaultsButton.tsx
  client/src/app/pages/playbook-runs/index.ts
  client/src/app/pages/playbooks/index.ts
  client/src/app/pages/workload-runs/components/CreateWorkloadRunModal.tsx
  client/src/app/pages/workload-runs/index.ts
  client/src/app/pages/workload-runs/workload-run-detail-page.tsx
  client/src/app/pages/workload-runs/workload-runs-page.tsx
  client/src/app/pages/workloads/components/WorkloadComposerModal.tsx
  client/src/app/pages/workloads/index.ts
  client/src/app/pages/workloads/workloads-page.tsx
  client/src/app/queries/agentic-catalog.ts
  client/src/app/queries/workload-runs.ts
  client/src/app/queries/workloads.ts
  client/src/app/utils/agentic.ts
Due: client

fix: keep agent/playbook run queries polling in background tabs
  client/src/app/queries/agent-runs.ts
Due: client

refactor: align agentic console with upstream tackle2-ui conventions
  client/public/locales/en/translation.json
  client/src/app/Paths.ts
  client/src/app/Routes.tsx
  client/src/app/api/agentic/acp.ts
  client/src/app/api/agentic/contract.ts
  client/src/app/api/agentic/index.ts
  client/src/app/api/rest.ts
  client/src/app/api/rest/agent-runs.ts
  client/src/app/layout/SidebarApp/SidebarApp.tsx
  client/src/app/pages/agent-runs/agent-run-detail-page.tsx
  client/src/app/pages/agent-runs/agent-runs-page.tsx
  client/src/app/pages/agent-runs/agent-runs.css
  client/src/app/pages/agent-runs/components/BranchPanel.tsx
  client/src/app/pages/agent-runs/components/ChatPanel.tsx
  client/src/app/pages/agent-runs/components/CreateRunModal.tsx
  client/src/app/pages/agent-runs/components/LoadDefaultsButton.tsx
  client/src/app/pages/agent-runs/components/ParamFields.tsx
  client/src/app/pages/agent-runs/components/PhaseLabel.tsx
  client/src/app/pages/agent-runs/components/ReadyLabel.tsx
  client/src/app/pages/agent-runs/components/sources.tsx
  client/src/app/pages/agents/agents-page.tsx
  client/src/app/pages/agents/components/AgentDesignerModal.tsx
  client/src/app/pages/playbook-runs/components/CreatePlaybookRunModal.tsx
  client/src/app/pages/playbook-runs/playbook-run-detail-page.tsx
  client/src/app/pages/playbook-runs/playbook-runs-page.tsx
  client/src/app/pages/playbooks/components/PlaybookComposerModal.tsx
  client/src/app/pages/playbooks/playbooks-page.tsx
  client/src/app/pages/skills/components/SkillCardModal.tsx
  client/src/app/pages/skills/components/SkillCollectionModal.tsx
  client/src/app/pages/skills/skills-page.tsx
  client/src/app/queries/agentic-catalog.ts
  client/src/app/queries/agents.ts
  client/src/app/queries/playbook-runs.ts
  client/src/app/queries/playbooks.ts
  client/src/app/queries/skills.ts
  client/src/app/utils/agentic.ts
  server/src/index.js
Due: client, server

feat(agent-runs): rebuild ACP chat on PatternFly Chatbot with startup dial retry
  client/package.json
  client/public/locales/en/translation.json
  client/src/app/api/agentic/contract.ts
  client/src/app/pages/agent-runs/agent-run-detail-page.tsx
  client/src/app/pages/agent-runs/agent-runs.css
  client/src/app/pages/agent-runs/components/ChatPanel.tsx
  package-lock.json
Due: client

refactor(agentic): externalize application selection from the create-run modals
  client/src/app/pages/agent-runs/components/CreateRunModal.tsx
  client/src/app/pages/workflow-runs/components/CreateWorkflowRunModal.tsx
  client/src/app/queries/agentic-catalog.ts
  client/src/app/utils/agentic.ts
Due: client

feat(agentic): feature-gate the agentic console
  client/config/rspack.dev.mts
  client/src/app/Constants.ts
  client/src/app/Routes.tsx
  client/src/app/env.ts
  client/src/app/layout/SidebarApp/SidebarApp.tsx
  common/src/env-types.ts
  server/src/serverConfig.js
Due: client, server

feat(agentic): agentic traffic rides the /hub proxy
  server/src/index.js
  server/src/proxies.js
  server/src/serverConfig.js
Due: server

feat(agentic): drop run deletion — the hub exposes no run delete
  client/src/app/api/agentic/contract.ts
  client/src/app/api/rest/agent-runs.ts
  client/src/app/pages/agent-runs/agent-runs-page.tsx
  client/src/app/pages/workflow-runs/workflow-runs-page.tsx
  client/src/app/queries/agent-runs.ts
  client/src/app/queries/workflow-runs.ts
Due: client

fix(agent-runs): stop clobbering Message layout classes on thought bubbles
  client/src/app/pages/agent-runs/components/ChatPanel.tsx
Due: client

fix(agent-runs): stop the stream dragging the reader back to the bottom
  client/public/locales/en/translation.json
  client/src/app/pages/agent-runs/agent-run-detail-page.tsx
  client/src/app/pages/agent-runs/agent-runs.css
  client/src/app/pages/agent-runs/components/ChatPanel.tsx
  client/src/app/pages/agent-runs/useChatAutoScroll.ts
Due: client

feat(agentic): agent runs drawer tab and per-application run action
  client/public/locales/en/translation.json
  client/src/app/pages/applications/application-detail-drawer/application-detail-drawer.tsx
  client/src/app/pages/applications/application-detail-drawer/tab-agent-runs-content.tsx
  client/src/app/pages/applications/applications-table/applications-table.tsx
  client/src/app/utils/agentic.ts
Due: client

feat(agentic): REST layer speaks the hub agent/* contract
  client/src/app/api/agentic/contract.ts
  client/src/app/api/rest/agent-runs.ts
  client/src/app/queries/agents.ts
  client/src/app/queries/skills.ts
  client/src/app/queries/workflows.ts
Due: client

feat(agentic): start agent workflow runs from the application inventory
  client/public/locales/en/translation.json
  client/src/app/pages/applications/agent-run-modal/BulkAgentRunModal.tsx
  client/src/app/pages/applications/agent-run-modal/index.ts
  client/src/app/pages/applications/agent-run-modal/useStartAgentWorkflowRuns.ts
  client/src/app/pages/applications/applications-table/applications-table.tsx
Due: client

refactor(agent-runs): follow the Gateway and AgentWorkflow API renames
  client/public/locales/en/translation.json
  client/src/app/Paths.ts
  client/src/app/Routes.tsx
  client/src/app/api/agentic/contract.ts
  client/src/app/api/rest/agent-runs.ts
  client/src/app/layout/SidebarApp/SidebarApp.tsx
  client/src/app/pages/agent-runs/agent-run-detail-page.tsx
  client/src/app/pages/agent-runs/components/BranchPanel.tsx
  client/src/app/pages/agent-runs/components/CreateRunModal.tsx
  client/src/app/pages/agent-runs/components/GatewayPicker.tsx
  client/src/app/pages/agent-runs/components/LoadDefaultsButton.tsx
  client/src/app/pages/agents/agents-page.tsx
  client/src/app/pages/agents/components/AgentDesignerModal.tsx
  client/src/app/pages/workflow-runs/components/CreateWorkflowRunModal.tsx
  client/src/app/pages/workflow-runs/index.ts
  client/src/app/pages/workflow-runs/workflow-run-detail-page.tsx
  client/src/app/pages/workflow-runs/workflow-runs-page.tsx
  client/src/app/pages/workflows/components/WorkflowComposerModal.tsx
  client/src/app/pages/workflows/index.ts
  client/src/app/pages/workflows/workflows-page.tsx
  client/src/app/pages/workload-runs/index.ts
  client/src/app/pages/workloads/index.ts
  client/src/app/queries/agentic-catalog.ts
  client/src/app/queries/workflow-runs.ts
  client/src/app/queries/workflows.ts
  client/src/app/utils/agentic.ts
Due: client

refactor(agentic): hub routes ride /hub/agentic
  client/src/app/Routes.tsx
  client/src/app/api/rest/agent-runs.ts
  server/src/index.js
Due: client, server
