Repository konveyor/tackle2-ui: changes, and which Codecov flags are due for each by the changed paths.
All: client, server

:seedling: [release-0.8] Add e2e ui testing for PRs and merges on release-0.8
  .github/workflows/ci-global.yml
Due: none

:bug: Fix multiple custom rules upload (#2636)
  client/src/app/components/CustomRuleFilesUpload.tsx
Due: client

E2e tests workflows
  .github/workflows/e2e-run-ui-tests.yaml
  .github/workflows/e2e-tier0-nightly.yaml
  .github/workflows/e2e-tier0-push-main.yaml
Due: none

Fixed Lint issues
  .eslintrc.cjs
  cypress/cypress.config.ts
  cypress/e2e/models/administration/credentials/credentialsMaven.ts
Due: none

Wrap table action buttons in OverflowMenu for responsive layout
  client/src/app/components/TableActionsColumn.tsx
  client/src/app/pages/applications/applications-table/applications-table.tsx
  client/src/app/pages/archetypes/archetypes-page.tsx
  client/src/app/pages/archetypes/target-profiles-page.tsx
  client/src/app/pages/identities/identities.tsx
  client/src/app/pages/migration-waves/components/wave-applications-table.tsx
  client/src/app/pages/source-platforms/source-platforms.tsx
Due: client

Changes after AI review
  client/src/app/pages/applications/applications-table/applications-table.tsx
  client/src/app/pages/archetypes/archetypes-page.tsx
  client/src/app/pages/identities/identities.tsx
  client/src/app/pages/source-platforms/source-platforms.tsx
Due: client

:seedling: Update ESLint to v9
  .eslintrc.cjs
  .github/ISSUE_TEMPLATE/bug.yaml
  .husky/install.mjs
  .lint-root.sh
  .lintstagedrc.mjs
  .prettierignore
  BRANDING.md
  VERSIONING.md
  client/__mocks__/fileMock.js
  client/__mocks__/raw-loader.js
  client/__mocks__/react-i18next.js
  client/__mocks__/styleMock.js
  client/i18next-parser.config.js
  client/package.json
  client/src/app/components/detail-drawer/review-label.tsx
  client/src/app/pages/applications/analysis-wizard/components/TaskGroupContext.tsx
  client/src/app/pages/applications/analysis-wizard/schema.ts
  common/rollup.config.js
  common/src/environment.ts
  cspell.json
  cypress/.eslintrc.cjs
  cypress/package.json
  cypress/utils/utils.ts
  docs/development.md
  docs/tests.md
  eslint.config.mjs
  package-lock.json
  package.json
  server/src/index.js
  server/src/proxies.js
Due: client, server

coderabbit suggestions
  .github/ISSUE_TEMPLATE/bug.yaml
  .lint-root.sh
  .lintstagedrc.mjs
Due: none

fixup .lint-root.sh to show the lint commands as they run
  .lint-root.sh
Due: none

Fix the root level lint-staged config to remove overlaps
  .lintstagedrc.mjs
Due: none

More plugin updates and configuration updates
  .prettierignore
  common/src/environment.ts
  cypress/cypress.config.ts
  cypress/support/e2e.ts
  eslint.config.mjs
  package-lock.json
  package.json
Due: none

migrate to eslint-plugin-import-x
  client/src/app/test-config/test-utils.tsx
  eslint.config.mjs
  package-lock.json
  package.json
Due: client

fix linting errors in common and server
  common/rollup.config.js
  server/rollup.config.js
  server/src/index.js
Due: server

a few lint fixes in client
  client/src/app/test-config/setupTests.ts
  client/src/mocks/browser.ts
Due: client

explicit bump for typescript to 5.7.3
  package.json
Due: none

fix import in server/index.js again
  server/src/index.js
Due: server

run scripts with clean-install in unit-test CI so types can be checked by the linter
  .github/workflows/ci-repo.yml
Due: none

coderabbit suggestion - comment fix
  eslint.config.mjs
Due: none

coderabbit suggestion - remove unnecessary eslint-env tag
  server/rollup.config.js
Due: server

Fix readme
  README.md
Due: none

local:dev adjusted for tackle2 backend
  DEVELOPMENT.md
  README.md
  pkg/client/package.json
Due: none

Adjust npm rules for qa-tests; reset package-lock.json
  .gitignore
  package-lock.json
  package.json
  pkg/client/config/stylePaths.js
  pkg/client/config/webpack.common.js
  pkg/client/package.json
  pkg/qa-tests/package.json
Due: none

Initial commit
  LICENSE
  README.md
Due: none

consolidate server file
  pkg/server/index.js
  pkg/server/setupProxy.js
Due: none

Adjust ci test
  .github/workflows/ci-actions.yml
  pkg/client/package.json
Due: none

Use npm workspaces
  .gitignore
  package-lock.json
  package.json
  pkg/client/config/webpack.dev.js
  pkg/client/package-lock.json
  pkg/client/package.json
  pkg/qa-tests/package-lock.json
  pkg/server/package-lock.json
Due: none

Dockerfile: Build without workspace
  Dockerfile
  pkg/client/package.json
Due: none

Fix entrypoint server dir
  entrypoint.sh
Due: none

wip
  pkg/client/src/app/api/models.tsx
  pkg/client/src/app/api/rest.tsx
  pkg/client/src/app/pages/repositories/Git.tsx
Due: none

restore translations
  pkg/client/public/locales/en/translation.json
  pkg/client/public/locales/es/translation.json
Due: none

respond to PR comments
  pkg/client/src/app/pages/identities/components/index.ts
  pkg/client/src/app/pages/repositories/Mvn.tsx
  pkg/client/src/app/pages/repositories/Svn.tsx
Due: none

update tests
  pkg/client/src/app/layout/DefaultLayout/tests/__snapshots__/DefaultLayout.test.tsx.snap
  pkg/client/src/app/pages/identities/components/identity-form.tsx
  pkg/client/src/app/shared/components/app-table/tests/__snapshots__/app-table.test.tsx.snap
  pkg/client/src/app/shared/components/app-table/tests/app-table.test.tsx
  pkg/client/src/app/shared/components/simple-select/tests/__snapshots__/select-entity.test.tsx.snap
Due: none

Fix snaphosts
  pkg/client/src/app/layout/DefaultLayout/tests/__snapshots__/DefaultLayout.test.tsx.snap
  pkg/client/src/app/layout/HeaderApp/tests/__snapshots__/HeaderApp.test.tsx.snap
  pkg/client/src/app/layout/SidebarApp/tests/__snapshots__/SidebarApp.test.tsx.snap
  pkg/client/src/app/pages/applications/application-assessment/components/application-assessment-page/__snapshots__/application-assessment-page-header.test.tsx.snap
  pkg/client/src/app/pages/applications/application-assessment/components/application-assessment-page/__snapshots__/application-assessment-page.test.tsx.snap
  pkg/client/src/app/shared/components/app-table-with-controls/tests/__snapshots__/app-table-with-controls.test.tsx.snap
  pkg/client/src/app/shared/components/app-table/tests/__snapshots__/state-no-data.test.tsx.snap
  pkg/client/src/app/shared/components/page-header/tests/__snapshots__/page-header.test.tsx.snap
  pkg/client/src/app/shared/components/toolbar-search-filter/__snapshots__/toolbar-search-filter.test.tsx.snap
Due: none

update package-lock.json
  pkg/client/package-lock.json
Due: none

remove old model from rebase
  pkg/client/src/app/api/models.tsx
Due: none

Update readme for workspaces
  README.md
Due: none

Path conditions:
  client: any of: client/, but not: **/mockServiceWorker.js
  server: any of: server/, but not: **/mockServiceWorker.js
