Repository konveyor/tackle2-ui: changes, and which Codecov flags are due for each by the changed paths.
All: client, server

codecov.yml:

coverage:
  status:
    project:
      default: false

      client:
        informational: true
        target: auto
        flags:
          - client

      server:
        informational: true
        target: auto
        flags:
          - server

flags:
  client:
    paths:
      - client/
  server:
    paths:
      - server/

Apply npm audit fix
  package-lock.json
Due: none

:ghost: Apply npm audit fix (#3407)
  package-lock.json
Due: none

:ghost: Apply npm audit fix (#3408)
  package-lock.json
Due: none

always mount /auth in dev mode
  server/src/index.js
Due: server

:bug: Add `/auth` proxy for legacy Keycloak instance in an upgraded operator
  common/src/env-types.ts
  package.json
  server/src/index.js
  server/src/proxies.js
  server/src/serverConfig.js
Due: server

:seedling: Add AI agent context files and update README overview (#3252)
  .coderabbit.yaml
  .cursor/rules/tackle2-ui.mdc
  AGENTS.md
  ARCHITECTURE.md
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docs/development.md
  docs/tests.md
Due: none

Use variant large for manage application modal
  client/src/app/pages/migration-waves/components/wave-status-table.tsx
  client/src/app/pages/migration-waves/migration-waves.tsx
Due: client

Compose nav items for assessment wizard
  client/src/app/pages/assessment/components/assessment-wizard/assessment-wizard.tsx
Due: client

:bug: Add `/auth` proxy for legacy Keycloak instance in an upgraded operator (#3409)
  common/src/env-types.ts
  package.json
  server/src/index.js
  server/src/proxies.js
  server/src/serverConfig.js
Due: server

Automated Token creation
  cypress/e2e/models/administration/userManagement/token.ts
  cypress/e2e/tests/administration/userManagement/token.test.ts
Due: none

:test_tube: Automated token generation from UI (#3403)
  client/src/app/pages/user-management/tokens/token-modal.tsx
  client/src/app/pages/user-management/tokens/tokens.tsx
  cypress/e2e/models/administration/userManagement/token.ts
  cypress/e2e/tests/administration/userManagement/token.test.ts
  cypress/e2e/types/constants.ts
  cypress/e2e/views/user-management.view.ts
Due: client

:bug: Use variant large for manage application modal (#3412)
  client/src/app/pages/migration-waves/components/wave-status-table.tsx
  client/src/app/pages/migration-waves/migration-waves.tsx
Due: client

Remove extra card at the bottom of proxy screen
  client/src/app/pages/proxies/proxies.tsx
Due: client

:bug: Remove extra card at the bottom of proxy screen (#3413)
  client/src/app/pages/proxies/proxies.tsx
Due: client

Set padding-top for custom rules toolbar
  client/src/app/components/analysis/components/custom-rules-table.tsx
  client/src/app/components/analysis/components/custom-rules.css
Due: client

:bug: Set padding-top for custom rules toolbar (#3415)
  client/src/app/components/analysis/components/custom-rules-table.tsx
  client/src/app/components/analysis/components/custom-rules.css
Due: client

Use isContentFilled for the DefaultLayout
  client/src/app/layout/DefaultLayout/DefaultLayout.tsx
Due: client

:bug: Use isContentFilled for the DefaultLayout (#3416)
  client/src/app/layout/DefaultLayout/DefaultLayout.tsx
Due: client

:bug: Compose nav items for assessment wizard (#3414)
  client/src/app/pages/assessment/components/assessment-wizard/assessment-wizard.tsx
Due: client

Take all vertical space for code editor
  client/src/app/components/simple-document-viewer/SimpleDocumentViewer.css
Due: client

:bug: Take all vertical space for code editor (#3417)
  client/src/app/components/simple-document-viewer/SimpleDocumentViewer.css
Due: client

Role automation
  cypress/e2e/views/user-management.view.ts
Due: none

Role automation and CI failure fix
  cypress/e2e/models/administration/userManagement/role.ts
  cypress/e2e/models/administration/userManagement/token.ts
  cypress/e2e/tests/administration/userManagement/role.test.ts
  cypress/e2e/views/user-management.view.ts
  cypress/utils/utils.ts
Due: none

Role automation and CI failure fix
  client/src/app/pages/user-management/roles/role-modal.tsx
  cypress/e2e/models/administration/userManagement/role.ts
  cypress/e2e/tests/administration/userManagement/role.test.ts
  cypress/e2e/views/user-management.view.ts
Due: client

Role automation and CI failure fix
  cypress/e2e/models/administration/userManagement/role.ts
Due: none

Role automation and CI failure fix
  cypress/e2e/models/administration/userManagement/role.ts
  cypress/e2e/models/administration/userManagement/token.ts
  cypress/e2e/tests/administration/userManagement/role.test.ts
  cypress/e2e/views/user-management.view.ts
Due: none

Role automation and CI failure fix
  .github/workflows/ci-e2e-tests.yml
Due: none

Role automation and CI failure fix
  .github/workflows/ci-e2e-tests.yml
  cypress/e2e/models/administration/userManagement/role.ts
  cypress/e2e/tests/administration/userManagement/role.test.ts
Due: none

Role automation and CI failure fix
  cypress/e2e/tests/administration/userManagement/role.test.ts
  cypress/e2e/tests/administration/userManagement/token.test.ts
Due: none

Role automation and CI failure fix
  cypress/e2e/models/administration/userManagement/role.ts
  cypress/e2e/models/administration/userManagement/token.ts
  cypress/e2e/tests/administration/userManagement/token.test.ts
Due: none

Role automation and CI failure fix
  cypress/e2e/models/administration/userManagement/token.ts
Due: none

Role automation and CI failure fix
  cypress/e2e/tests/administration/userManagement/role.test.ts
Due: none

:test_tube: Automate role OIDC tests (#3421)
  client/src/app/pages/user-management/roles/role-modal.tsx
  cypress/e2e/models/administration/userManagement/role.ts
  cypress/e2e/models/administration/userManagement/token.ts
  cypress/e2e/tests/administration/userManagement/role.test.ts
  cypress/e2e/tests/administration/userManagement/token.test.ts
  cypress/e2e/views/user-management.view.ts
  cypress/utils/utils.ts
Due: client

Confirm user removal
  client/src/app/pages/user-management/users/users.tsx
Due: client

Hide report charts if no applications
  client/src/app/pages/reports/reports.tsx
Due: client

Provide fallback for tests detecting the current number of problems based on charts labels
  client/src/app/pages/reports/reports.tsx
  cypress/e2e/models/migration/reports-tab/reports-tab.ts
  cypress/e2e/views/reportsTab.view.ts
Due: client

:bug: Hide report charts if no applications (#3422)
  client/src/app/pages/reports/reports.tsx
  cypress/e2e/models/migration/reports-tab/reports-tab.ts
  cypress/e2e/views/reportsTab.view.ts
Due: client

:bug: Confirm user removal (#3423)
  client/src/app/pages/user-management/users/users.tsx
Due: client
