Repository konveyor/tackle2-ui: changes, and which Codecov flags are due for each by the changed paths.
All: client, server

codecov.yml:

coverage:
  status:
    project:
      default: false

      client:
        informational: true
        target: auto
        flags:
          - client

      server:
        informational: true
        target: auto
        flags:
          - server

flags:
  client:
    paths:
      - client/
  server:
    paths:
      - server/

:sparkles: Add proxy entry for kai-llm-proxy service (#2743)
  common/src/environment.ts
  package.json
  server/src/index.js
  server/src/proxies.js
Due: server

:seedling: Refactor analysis wizard
  client/src/app/hooks/useFormChangeHandler.ts
  client/src/app/pages/applications/analysis-wizard/__tests__/utils.test.tsx
  client/src/app/pages/applications/analysis-wizard/analysis-wizard.tsx
  client/src/app/pages/applications/analysis-wizard/components/TaskGroupContext.tsx
  client/src/app/pages/applications/analysis-wizard/components/upload-binary.tsx
  client/src/app/pages/applications/analysis-wizard/components/upload-new-rules-files.tsx
  client/src/app/pages/applications/analysis-wizard/schema.ts
  client/src/app/pages/applications/analysis-wizard/set-mode.tsx
  client/src/app/pages/applications/analysis-wizard/steps/advanced-options.tsx
  client/src/app/pages/applications/analysis-wizard/steps/analysis-mode.tsx
  client/src/app/pages/applications/analysis-wizard/steps/analysis-scope.tsx
  client/src/app/pages/applications/analysis-wizard/steps/custom-rules.tsx
  client/src/app/pages/applications/analysis-wizard/steps/review.tsx
  client/src/app/pages/applications/analysis-wizard/steps/set-targets.tsx
  client/src/app/pages/applications/analysis-wizard/useTaskGroupManager.ts
  client/src/app/pages/applications/analysis-wizard/useWizardReducer.ts
  client/src/app/pages/applications/analysis-wizard/utils.ts
  client/src/app/pages/applications/applications-table/applications-table.tsx
  client/src/app/utils/utils.ts
Due: client

:ghost: Update lockfile
  package-lock.json
Due: none

:ghost: Update lockfile (#2765)
  package-lock.json
Due: none

update useWizardReducer to s/useRef/useState/
  client/src/app/pages/applications/analysis-wizard/useWizardReducer.ts
Due: client

Remaining tests to be moved to dev repo
  cypress/e2e/types/types.ts
Due: none

Test GPG signing
  cypress/README.md
Due: none

Added dot-env in dependencies
  cypress/e2e/models/keycloak/users/user.ts
  cypress/e2e/tests/migration/applicationinventory/analysis/source_analysis.test.ts
  cypress/e2e/tests/migration/applicationinventory/applications/manage_columns.test.ts
  cypress/package.json
Due: none

Added new files from some new PRs and dockerfile folder
  cypress/dockerfiles/interop/Dockerfile
  cypress/e2e/models/administration/source-platform/source-platform.ts
  cypress/e2e/models/migration/applicationinventory/analysis.ts
  cypress/e2e/tests/administration/source-platform/crud.test.ts
  cypress/e2e/tests/migration/applicationinventory/assessment/assess_review.test.ts
  cypress/e2e/types/constants.ts
  cypress/fixtures/rbac.json
  cypress/utils/utils.ts
Due: none

Updating tests with recent merged PRs
  cypress/README.md
  cypress/e2e/models/administration/custom-migration-targets/custom-migration-target.ts
  cypress/e2e/tests/administration/credentials/sourcecontrol_crud.test.ts
  cypress/e2e/tests/administration/custom-migration-targets/crud.test.ts
  cypress/e2e/tests/administration/source-platform/crud.test.ts
  cypress/e2e/tests/ci.test.ts
  cypress/e2e/tests/login.test.ts
  cypress/e2e/tests/migration/applicationinventory/analysis/source_analysis.test.ts
  cypress/e2e/tests/migration/applicationinventory/analysis/source_analysis_without_creds.test.ts
  cypress/e2e/tests/migration/applicationinventory/analysis/upload_binary_analysis.test.ts
  cypress/e2e/tests/migration/applicationinventory/assessment/assessment_after_import.test.ts
  cypress/e2e/tests/migration/applicationinventory/assessment/miscellaneous.test.ts
Due: none

Updating tests with recent merged PRs
  cypress/scripts/bug_summary.mjs
  cypress/scripts/findTierFiles.js
Due: none

Updating tests with recent merged PRs
  cypress/package-lock.json
Due: none

Updated tests
  cypress/e2e/models/keycloak/users/user.ts
  cypress/e2e/models/migration/archetypes/target-profile.ts
  cypress/e2e/tests/migration/applicationinventory/assessment/miscellaneous.test.ts
  cypress/e2e/tests/migration/archetypes/target-profile-crud.test.ts
  cypress/e2e/tests/migration/migration-waves/crud.test.ts
  cypress/e2e/types/constants.ts
  cypress/e2e/views/rbac.view.ts
  cypress/e2e/views/target-profile.view.ts
  cypress/fixtures/questionnaire_import/cloud-native.yaml
  cypress/package-lock.json
  cypress/utils/utils.ts
  package-lock.json
Due: none

Updated tests
  package-lock.json
Due: none

Updated tests
  cypress/.eslintrc.cjs
  cypress/cypress.config.ts
  cypress/dockerfiles/interop/Dockerfile
  cypress/package.json
  cypress/scripts/bug_summary.mjs
Due: none

Updated tests
  package-lock.json
  package.json
Due: none

fixup eslint configs and tsconfig.json
  cypress/.eslintrc.cjs
  cypress/package.json
  cypress/tsconfig.json
  eslint.config.mjs
  package-lock.json
Due: none

fix lint errors/warnings, typing errors, and formatting errors
  cypress/cypress.config.ts
  cypress/e2e/models/administration/credentials/JiraCredentials.ts
  cypress/e2e/tests/administration/jira-connection/miscellaneous.test.ts
  cypress/e2e/tests/administration/questionnaires/miscellaneous.test.ts
  cypress/e2e/tests/migration/migration-waves/sort.test.ts
  cypress/e2e/types/types.ts
  cypress/scripts/bug_summary.mjs
  cypress/scripts/findTierFiles.js
  cypress/support/e2e.ts
  cypress/utils/utils.ts
Due: none

update ci-repo.yml to run lint/format check on cypress changes
  .github/workflows/ci-repo.yml
Due: none

fix step names in test runner workflow
  .github/workflows/e2e-run-ui-tests.yaml
Due: none

:test_tube: Update workflow to run cypress tests for PRs/pushes
  .github/workflows/e2e-repo-main.yaml
  .github/workflows/e2e-tier0-repo-main.yaml
Due: none

update concurrency group id and test_ref
  .github/workflows/e2e-repo-main.yaml
Due: none

:seedling: Add unit tests for useWizardReducer hooks
  client/src/app/components/discover-import-wizard/__tests__/useWizardReducer.test.ts
  client/src/app/pages/applications/generate-assets-wizard/__tests__/useWizardReducer.test.ts
Due: client

add more test cases
  client/src/app/components/discover-import-wizard/__tests__/useWizardReducer.test.ts
  client/src/app/pages/applications/generate-assets-wizard/__tests__/useWizardReducer.test.ts
Due: client

:seedling: Add unit tests for useWizardReducer hooks (#2766)
  client/src/app/components/discover-import-wizard/__tests__/useWizardReducer.test.ts
  client/src/app/pages/applications/generate-assets-wizard/__tests__/useWizardReducer.test.ts
Due: client

required lint and formatting changes
  README.md
  client/src/app/Routes.tsx
  client/src/app/api/models.ts
  client/src/app/components/ControlledFormFieldGroupExpandable.tsx
  client/src/app/components/FilterToolbar/FilterToolbar.tsx
  client/src/app/components/FilterToolbar/MultiselectFilterControl.tsx
  client/src/app/components/LabelCustomColor.tsx
  client/src/app/components/SimpleSelect.tsx
  client/src/app/components/SingleLabelWithOverflow.tsx
  client/src/app/components/simple-document-viewer/SimpleDocumentViewerModal.tsx
  client/src/app/pages/applications/application-detail-drawer/application-detail-drawer.tsx
  client/src/app/pages/dependencies/dependency-apps-detail-drawer.tsx
  client/src/app/pages/insights/insight-detail-drawer.tsx
  client/src/app/pages/issues/issue-detail-drawer.tsx
  client/src/app/utils/model-utils.tsx
Due: client

:ghost: Update pull request template to include E2E test emoji
  .github/pull_request_template.md
Due: none

typo fix
  .github/pull_request_template.md
Due: none

:ghost: Update pull request template to include E2E test emoji (#2771)
  .github/pull_request_template.md
Due: none
