Repository konveyor/tackle2-ui: changes, and which Codecov flags are due for each by the changed paths.
All: client, server

:seedling: Update entrypoint.sh ca-certs handling
  entrypoint.sh
Due: none

full entyroint.sh control of NODE_EXTRA_CA_CERTS with known loading points and ca-certs.d handling
  README.md
  docs/operator-ca-certs-followup.md
  entrypoint.sh
Due: none

adopt a cert loading directory
  Dockerfile
  docs/operator-ca-certs-followup.md
  entrypoint.sh
Due: none

[release-0.9] :seedling: Replace global-ci-bundle with internal e2e runner, support release-* branches (#3499) (#3508)
  .github/actions/run-ui-tests/action.yml
  .github/workflows/ci-e2e-tests.yml
  .github/workflows/ci-global.yml
  .github/workflows/e2e-nightly.yaml
  .github/workflows/nightly-ci-global.yaml
  .github/workflows/nightly-ci-repo.yaml
  .github/workflows/nightly-release09.yaml
Due: none

clearing All Saved Sessions
  cypress/support/e2e.ts
Due: none

:test_tube: clearing All Saved Sessions (#3529)
  cypress/support/e2e.ts
Due: none

:test_tube: Clearing All Saved Sessions (#3530)
  cypress/support/e2e.ts
Due: none

Updating package version of junit report merger
  cypress/package.json
Due: none

Updating package version of junit report merger
  package-lock.json
Due: none

:test_tube: Updating package version of junit report merger (#3534)
  cypress/package.json
  package-lock.json
Due: none

Increase Node.js max HTTP header size for OIDC cookie support (#v7)
  .github/actions/run-ui-tests/action.yml
Due: none

:test_tube: Increase Node.js max HTTP header size for OIDC cookie support (#v7) (#3535)
  .github/actions/run-ui-tests/action.yml
Due: none

Increase ingress header buffer size for cookies
  .github/workflows/e2e-run-ui-tests.yaml
Due: none

Increase ingress header buffer size for cookies
  .github/actions/run-ui-tests/action.yml
  .github/workflows/e2e-run-ui-tests.yaml
Due: none

Increase ingress header buffer size for cookies
  .github/actions/run-ui-tests/action.yml
  .github/workflows/ci-e2e-tests.yml
  .github/workflows/e2e-run-ui-tests.yaml
Due: none

:test_tube: Increase ingress header buffer size for cookies (#3536)
  .github/workflows/e2e-run-ui-tests.yaml
Due: none

Update junit-report-merger and apply npm audit fix
  cypress/package.json
  package-lock.json
Due: none

:seedling: Update junit-report-merger and apply npm audit fix (#3539)
  cypress/package.json
  package-lock.json
Due: none

:seedling: Update junit-report-merger and apply npm audit fix (#3538)
  cypress/package.json
  package-lock.json
Due: none

Update js-yaml and nanoid with npm audit fix
  package-lock.json
Due: none

:seedling: Update js-yaml and nanoid with npm audit fix (#3537)
  package-lock.json
Due: none

[release-0.10] :test_tube: Increase ingress header buffer size for cookies (#3536) (#3543)
  .github/workflows/e2e-run-ui-tests.yaml
Due: none

Testing
  cypress/e2e/tests/debug/settings_validation.test.ts
Due: none

Updated gituser
  cypress/.env.example
Due: none

Updated gituser
  cypress/e2e/tests/debug/settings_validation.test.ts
Due: none

:test_tube: Commented github user (#3544)
  cypress/.env.example
Due: none

:bug: Request offline_access so the builtin OP issues a refresh token
  client/src/app/auth/oidc/userManager.ts
Due: client

feat: playbook runs surface — list, detail stage ladder, create modal
  client/src/app/Paths.ts
  client/src/app/Routes.tsx
  client/src/app/api/rest/agent-runs.ts
  client/src/app/layout/SidebarApp/SidebarApp.tsx
  client/src/app/pages/agent-runs/components/sources.tsx
  client/src/app/pages/playbook-runs/components/CreatePlaybookRunModal.tsx
  client/src/app/pages/playbook-runs/index.ts
  client/src/app/pages/playbook-runs/playbook-run-detail-page.tsx
  client/src/app/pages/playbook-runs/playbook-runs-page.tsx
  client/src/app/queries/agent-runs.ts
Due: client

feat: agentic management UX — agent runs, agents, skills, playbooks
  client/src/app/Paths.ts
  client/src/app/Routes.tsx
  client/src/app/api/agentic/acp.ts
  client/src/app/api/agentic/contract.ts
  client/src/app/api/agentic/index.ts
  client/src/app/api/rest.ts
  client/src/app/api/rest/agent-runs.ts
  client/src/app/layout/SidebarApp/SidebarApp.tsx
  client/src/app/pages/agent-runs/agent-run-detail-page.tsx
  client/src/app/pages/agent-runs/agent-runs-page.tsx
  client/src/app/pages/agent-runs/agent-runs.css
  client/src/app/pages/agent-runs/components/ChatPanel.tsx
  client/src/app/pages/agent-runs/components/CreateRunModal.tsx
  client/src/app/pages/agent-runs/components/PhaseLabel.tsx
  client/src/app/pages/agent-runs/components/sources.tsx
  client/src/app/pages/agent-runs/index.ts
  client/src/app/pages/agents/agents-page.tsx
  client/src/app/pages/agents/components/AgentDesignerModal.tsx
  client/src/app/pages/agents/index.ts
  client/src/app/pages/playbooks/components/PlaybookComposerModal.tsx
  client/src/app/pages/playbooks/index.ts
  client/src/app/pages/playbooks/playbooks-page.tsx
  client/src/app/pages/skills/components/SkillCardModal.tsx
  client/src/app/pages/skills/components/SkillCollectionModal.tsx
  client/src/app/pages/skills/index.ts
  client/src/app/pages/skills/skills-page.tsx
  client/src/app/queries/agent-runs.ts
  common/src/env-types.ts
  server/src/index.js
  server/src/proxies.js
  server/src/serverConfig.js
Due: client, server

feat: link target branch to its forge page; prefer the run's own repo URL
  client/src/app/pages/agent-runs/agent-run-detail-page.tsx
  client/src/app/pages/agent-runs/components/BranchPanel.tsx
Due: client

fix: lint and format gates for the agentic console
  client/src/app/pages/agent-runs/components/ChatPanel.tsx
  client/src/app/pages/agents/components/AgentDesignerModal.tsx
  client/src/app/queries/agent-runs.ts
Due: client

feat: run-detail parity — run-spec panel and target-branch panel
  client/src/app/api/agentic/contract.ts
  client/src/app/pages/agent-runs/agent-run-detail-page.tsx
  client/src/app/pages/agent-runs/components/BranchPanel.tsx
  client/src/app/pages/playbook-runs/playbook-run-detail-page.tsx
  client/src/app/queries/agent-runs.ts
Due: client

fix: seed-invalidate providers, block playbook runs on repo-less apps
  client/src/app/pages/playbook-runs/components/CreatePlaybookRunModal.tsx
  client/src/app/queries/agent-runs.ts
Due: client

Path conditions:
  client: any of: client/
  server: any of: server/
