Repository konveyor/tackle2-ui: changes, and which Codecov flags are due for each by the changed paths.
All: client, server

codecov.yml:

coverage:
  status:
    project:
      default: false

      client:
        informational: true
        target: auto
        flags:
          - client

      server:
        informational: true
        target: auto
        flags:
          - server

flags:
  client:
    paths:
      - client/
  server:
    paths:
      - server/

move ts-jest and ts-node to the client package.json
  client/package.json
  package-lock.json
  package.json
Due: client

:test_tube: fix(e2e): update static report selectors for PatternFly 6 migration
  cypress/e2e/tests/migration/applicationinventory/analysis/source_analysis_without_creds.test.ts
Due: none

Add hub OIDC User API
  cypress/MIGRATION_GUIDE_HUB_USERS.md
  cypress/e2e/models/hub/users/README.md
  cypress/e2e/models/hub/users/index.ts
  cypress/e2e/models/hub/users/user.ts
  cypress/e2e/models/hub/users/userAdmin.ts
  cypress/e2e/models/hub/users/userArchitect.ts
  cypress/e2e/models/hub/users/userMigrator.ts
  cypress/e2e/tests/examples/hub-user-api-example.test.ts
  cypress/e2e/types/types.ts
  cypress/utils/hub-user-api.ts
  test-hub-user-api.sh
Due: none

Use OIDC API to create users
  cypress/.env.example
  cypress/e2e/tests/rbac/migrator.test.ts
  cypress/e2e/types/constants.ts
  cypress/e2e/views/login.view.ts
  cypress/utils/hub-user-api.ts
  cypress/utils/utils.ts
Due: none

Use OIDC API to create users
  cypress/MIGRATION_GUIDE_HUB_USERS.md
  cypress/e2e/models/hub/users/README.md
  cypress/e2e/tests/examples/hub-user-api-example.test.ts
  test-hub-user-api.sh
Due: none

Use OIDC API to create users
  cypress/e2e/models/administration/credentials/credentials.ts
  cypress/e2e/models/administration/jira-connection/jira.ts
  cypress/e2e/models/keycloak/users/user.ts
  cypress/e2e/models/keycloak/users/userAdmin.ts
  cypress/e2e/models/keycloak/users/userArchitect.ts
  cypress/e2e/models/keycloak/users/userMigrator.ts
  cypress/e2e/models/migration/analysis-profiles/analysis-profile.ts
  cypress/e2e/models/migration/applicationinventory/application.ts
  cypress/e2e/models/migration/archetypes/archetype.ts
  cypress/e2e/models/migration/controls/businessservices.ts
  cypress/e2e/models/migration/controls/stakeholdergroups.ts
  cypress/e2e/models/migration/controls/stakeholders.ts
  cypress/e2e/models/migration/controls/tags.ts
  cypress/e2e/models/migration/migration-waves/migration-wave.ts
  cypress/e2e/tests/keycloak/disable_keycloak.test.ts
  cypress/e2e/tests/rbac/architect.test.ts
  cypress/e2e/tests/rbac/cancel_task.test.ts
  cypress/e2e/tests/rbac/custom-migration-target.test.ts
  cypress/e2e/tests/rbac/review-assessment.test.ts
  cypress/e2e/tests/upgrade/after_upgrade.test.ts
  cypress/e2e/tests/upgrade/create_upgrade_data.test.ts
  cypress/utils/hub-user-api.ts
  cypress/utils/utils.ts
Due: none

Use OIDC API to create users
  cypress/e2e/models/migration/applicationinventory/application.ts
  cypress/e2e/models/migration/migration-waves/migration-wave.ts
  cypress/e2e/tests/rbac/architect.test.ts
  cypress/utils/hub-user-api.ts
  cypress/utils/utils.ts
Due: none

Use OIDC API to create users
  cypress/e2e/models/migration/applicationinventory/application.ts
  cypress/e2e/models/migration/migration-waves/migration-wave.ts
  cypress/utils/utils.ts
Due: none

Use OIDC API to create users
  cypress/e2e/models/hub/users/user.ts
  cypress/e2e/tests/rbac/architect.test.ts
Due: none

Use OIDC API to create users
  cypress/e2e/tests/rbac/architect.test.ts
  cypress/fixtures/analysis.sh
  cypress/fixtures/cloud-native-updated.yaml
  cypress/fixtures/dependencies-cleanup.sh
  cypress/fixtures/dependencies.sh
  cypress/fixtures/insights-cleanup.sh
  cypress/fixtures/insights.sh
  cypress/fixtures/issues-cleanup.sh
  cypress/fixtures/issues.sh
  cypress/utils/utils.ts
Due: none

Use OIDC API to create users
  cypress/e2e/tests/migration/applicationinventory/analysis/source_analysis_without_creds.test.ts
  cypress/utils/utils.ts
Due: none

:test_tube: fix(e2e): update static report selectors for PatternFly 6 migration (#3335)
  cypress/e2e/tests/migration/applicationinventory/analysis/source_analysis_without_creds.test.ts
Due: none

Use OIDC API to create users
  cypress/e2e/tests/migration/applicationinventory/analysis/source_analysis_without_creds.test.ts
  cypress/fixtures/analysis.sh
  cypress/fixtures/dependencies-cleanup.sh
  cypress/fixtures/dependencies.sh
  cypress/fixtures/insights-cleanup.sh
  cypress/fixtures/insights.sh
  cypress/fixtures/issues-cleanup.sh
  cypress/fixtures/issues.sh
Due: none

Use OIDC API to create users
  cypress/e2e/tests/migration/applicationinventory/analysis/source_analysis_without_creds.test.ts
Due: none

:bug: Drop KEYCLOAK configuration support, refactor config handling
  client/config/webpack.dev.ts
  client/src/app/auth/AuthProvider.tsx
  client/src/app/auth/masquerade/MasqueradeAuthStrategy.tsx
  client/src/app/auth/masquerade/MasqueradeDevPanel.tsx
  client/src/app/auth/masquerade/masquerade.ts
  client/src/app/auth/noauth/NoAuthStrategy.tsx
  client/src/app/auth/oidc/OidcAuthStrategy.tsx
  client/src/app/auth/oidc/OidcToolbarItem.tsx
  client/src/app/auth/oidc/userManager.ts
  client/src/app/auth/userManager.ts
  client/src/app/axios-config/apiInit.ts
  client/src/app/env.ts
  common/src/env-types.ts
  common/src/environment.ts
  common/src/index.ts
  cspell.json
  cypress/README.md
  entrypoint.sh
  package.json
  server/src/index.js
  server/src/proxies.js
  server/src/serverConfig.js
Due: client, server

drop keycloak cookie bearer token support
  package-lock.json
  server/package.json
  server/src/proxies.js
Due: server

code review suggestions
  server/src/proxies.js
  server/src/serverConfig.js
Due: server

code review updates to userManager
  client/src/app/auth/oidc/userManager.ts
Due: client

:bug: Drop KEYCLOAK configuration support, refactor config handling (#3345)
  client/config/webpack.dev.ts
  client/src/app/auth/AuthProvider.tsx
  client/src/app/auth/masquerade/MasqueradeAuthStrategy.tsx
  client/src/app/auth/masquerade/MasqueradeDevPanel.tsx
  client/src/app/auth/masquerade/masquerade.ts
  client/src/app/auth/noauth/NoAuthStrategy.tsx
  client/src/app/auth/oidc/OidcAuthStrategy.tsx
  client/src/app/auth/oidc/OidcToolbarItem.tsx
  client/src/app/auth/oidc/userManager.ts
  client/src/app/auth/userManager.ts
  client/src/app/axios-config/apiInit.ts
  client/src/app/env.ts
  common/src/env-types.ts
  common/src/environment.ts
  common/src/index.ts
  cspell.json
  cypress/README.md
  entrypoint.sh
  package-lock.json
  package.json
  server/package.json
  server/src/index.js
  server/src/proxies.js
  server/src/serverConfig.js
Due: client, server

:test_tube: Use OIDC API to create users (#3340)
  cypress/.env.example
  cypress/e2e/models/administration/credentials/credentials.ts
  cypress/e2e/models/administration/jira-connection/jira.ts
  cypress/e2e/models/hub/users/index.ts
  cypress/e2e/models/hub/users/user.ts
  cypress/e2e/models/hub/users/userAdmin.ts
  cypress/e2e/models/hub/users/userArchitect.ts
  cypress/e2e/models/hub/users/userMigrator.ts
  cypress/e2e/models/keycloak/users/user.ts
  cypress/e2e/models/migration/analysis-profiles/analysis-profile.ts
  cypress/e2e/models/migration/applicationinventory/application.ts
  cypress/e2e/models/migration/archetypes/archetype.ts
  cypress/e2e/models/migration/controls/businessservices.ts
  cypress/e2e/models/migration/controls/stakeholdergroups.ts
  cypress/e2e/models/migration/controls/stakeholders.ts
  cypress/e2e/models/migration/controls/tags.ts
  cypress/e2e/models/migration/migration-waves/migration-wave.ts
  cypress/e2e/tests/keycloak/disable_keycloak.test.ts
  cypress/e2e/tests/migration/applicationinventory/analysis/source_analysis_without_creds.test.ts
  cypress/e2e/tests/rbac/architect.test.ts
  cypress/e2e/tests/rbac/cancel_task.test.ts
  cypress/e2e/tests/rbac/custom-migration-target.test.ts
  cypress/e2e/tests/rbac/migrator.test.ts
  cypress/e2e/tests/rbac/review-assessment.test.ts
  cypress/e2e/tests/upgrade/after_upgrade.test.ts
  cypress/e2e/tests/upgrade/create_upgrade_data.test.ts
  cypress/e2e/types/constants.ts
  cypress/e2e/types/types.ts
  cypress/e2e/views/login.view.ts
  cypress/fixtures/analysis.sh
  cypress/fixtures/cloud-native-updated.yaml
  cypress/fixtures/dependencies-cleanup.sh
  cypress/fixtures/dependencies.sh
  cypress/fixtures/insights-cleanup.sh
  cypress/fixtures/insights.sh
  cypress/fixtures/issues-cleanup.sh
  cypress/fixtures/issues.sh
  cypress/utils/hub-user-api.ts
  cypress/utils/utils.ts
Due: none

:bug: Fix OIDC loop issue by setting forward header for all hub proxies
  client/src/app/auth/oidc/OidcAuthStrategy.tsx
  client/src/app/axios-auth.ts
  client/src/app/axios-config/index.ts
  client/src/index.tsx
  server/src/proxies.js
Due: client, server

:bug: Fix OIDC loop issue by setting forward header for all hub proxies (#3346)
  client/src/app/auth/oidc/OidcAuthStrategy.tsx
  client/src/app/axios-auth.ts
  client/src/app/axios-config/index.ts
  client/src/index.tsx
  server/src/proxies.js
Due: client, server

code review suggestion: better paths-ignore
  .github/workflows/ci-e2e-tests.yml
  .github/workflows/ci-image-build.yml
Due: none

:seedling: Ignore AI mdc files and configurations in e2e and image build workflows
  .github/workflows/ci-e2e-tests.yml
  .github/workflows/ci-image-build.yml
  .github/workflows/nightly-main-ci-e2e-tests.yaml
Due: none

Refactor assessments rest functions to correct return types
  client/src/app/api/rest.ts
  client/src/app/api/rest/assessments.ts
Due: client

Refactor targets rest functions to correct return types
  client/src/app/api/rest.ts
  client/src/app/api/rest/targets.ts
  client/src/app/pages/migration-targets/components/custom-target-form.tsx
  client/src/app/pages/migration-targets/migration-targets.tsx
  client/src/app/queries/targets.ts
Due: client

Fix useUploadTaskgroupFileMutation callback signature in CustomRuleFilesUpload
  client/src/app/components/CustomRuleFilesUpload.tsx
Due: client

Fix missing AxiosPromise import in rest.ts
  client/src/app/api/rest.ts
Due: client

Refactor reviews rest functions to correct return types
  client/src/app/api/rest.ts
  client/src/app/api/rest/reviews.ts
  client/src/app/queries/reviews.ts
Due: client

Refactor task groups rest functions to correct return types
  client/src/app/api/rest.ts
  client/src/app/api/rest/task-groups.ts
  client/src/app/queries/taskgroups.ts
Due: client

Refactor application import rest functions to correct return types
  client/src/app/api/rest.ts
  client/src/app/api/rest/imports.ts
Due: client

Refactor proxies rest functions to correct return types
  client/src/app/api/rest.ts
  client/src/app/api/rest/proxies.ts
Due: client

Refactor settings rest functions to correct return types
  client/src/app/api/rest.ts
  client/src/app/api/rest/settings.ts
Due: client

Refactor stakeholders rest functions to correct return types
  client/src/app/api/rest.ts
  client/src/app/api/rest/stakeholders.ts
  client/src/app/queries/stakeholders.ts
Due: client

Refactor tickets rest functions to correct return types
  client/src/app/api/rest.ts
  client/src/app/api/rest/tickets.ts
  client/src/app/queries/migration-waves.ts
Due: client

Refactor stakeholder groups rest functions to correct return types
  client/src/app/api/rest.ts
  client/src/app/api/rest/stakeholder-groups.ts
  client/src/app/pages/controls/stakeholder-groups/components/stakeholder-group-form.tsx
  client/src/app/queries/stakeholdergroups.ts
Due: client

Refactor tags and tag categories rest functions to correct return types
  client/src/app/api/rest.ts
  client/src/app/api/rest/tags.ts
  client/src/app/queries/tags.ts
Due: client

Refactor facts rest function to correct return type
  client/src/app/api/rest.ts
  client/src/app/api/rest/facts.ts
Due: client

Refactor tag categories rest functions to correct return types
  client/src/app/api/rest.ts
  client/src/app/api/rest/tags.ts
  client/src/app/queries/tags.ts
Due: client
