Repository konveyor/tackle2-ui: changes, and which Codecov flags are due for each by the changed paths.
All: client, server

codecov.yml:

coverage:
  status:
    project:
      default: false

      client:
        informational: true
        target: auto
        flags:
          - client

      server:
        informational: true
        target: auto
        flags:
          - server

flags:
  client:
    paths:
      - client/
  server:
    paths:
      - server/

:test_tube: Migrate e2e tests workflows (#2694)
  .github/workflows/e2e-run-ui-tests.yaml
  .github/workflows/e2e-tier0-nightly.yaml
  .github/workflows/e2e-tier0-push-main.yaml
Due: none

:test_tube: Add `cypress/` to `.dockerignore` (#2730)
  .dockerignore
Due: none

:test_tube: fix e2e-run-ui-tests.yaml
  .github/workflows/e2e-run-ui-tests.yaml
Due: none

:test_tube: Add test maintainers to CODEOWNERS and OWNERS.md
  CODEOWNERS
  OWNERS.md
Due: none

Updating tests with recent merged PRs
  cypress/README.md
  cypress/e2e/models/administration/custom-migration-targets/custom-migration-target.ts
  cypress/e2e/tests/administration/credentials/sourcecontrol_crud.test.ts
  cypress/e2e/tests/administration/custom-migration-targets/crud.test.ts
  cypress/e2e/tests/administration/source-platform/crud.test.ts
  cypress/e2e/tests/ci.test.ts
  cypress/e2e/tests/login.test.ts
  cypress/e2e/tests/migration/applicationinventory/analysis/source_analysis.test.ts
  cypress/e2e/tests/migration/applicationinventory/analysis/source_analysis_without_creds.test.ts
  cypress/e2e/tests/migration/applicationinventory/analysis/upload_binary_analysis.test.ts
  cypress/e2e/tests/migration/applicationinventory/assessment/assessment_after_import.test.ts
  cypress/e2e/tests/migration/applicationinventory/assessment/miscellaneous.test.ts
  cypress/package.json
Due: none

Updating tests with recent merged PRs
  cypress/scripts/bug_summary.mjs
  cypress/scripts/findTierFiles.js
Due: none

Updating tests with recent merged PRs
  cypress/package-lock.json
Due: none

:test_tube: Add test maintainers to CODEOWNERS and OWNERS.md (#2734)
  CODEOWNERS
  OWNERS.md
Due: none

:test_tube: fix e2e-run-ui-tests.yaml
  .github/workflows/e2e-run-ui-tests.yaml
  package.json
Due: none

:test_tube: fix e2e-run-ui-tests.yaml (#2733)
  .github/workflows/e2e-run-ui-tests.yaml
  package.json
Due: none

:test_tube: Add e2e-run-ui-tests.yaml workflow params
  .github/workflows/e2e-run-ui-tests.yaml
Due: none

:test_tube: Run e2e-tier0 on PRs/pushes targeting main
  .github/workflows/e2e-tier0-repo-main.yaml
Due: none

:test_tube: Run e2e-tier0 on PRs/pushes targeting main (#2740)
  .github/workflows/e2e-tier0-repo-main.yaml
Due: none

:test_tube: Add e2e-run-ui-tests.yaml workflow params (#2738)
  .github/workflows/e2e-run-ui-tests.yaml
Due: none

:sparkles: Remove task preemption
  client/public/locales/en/translation.json
  client/src/app/api/models.ts
  client/src/app/components/task-manager/TaskManagerContext.tsx
  client/src/app/components/task-manager/TaskManagerDrawer.tsx
  client/src/app/components/task-manager/TaskNotificaitonBadge.tsx
  client/src/app/pages/tasks/TaskActionColumn.tsx
  client/src/app/pages/tasks/TaskDetails.tsx
  client/src/app/pages/tasks/TaskDetailsBase.tsx
  client/src/app/pages/tasks/tasks-page.tsx
  client/src/app/pages/tasks/useTaskActions.tsx
Due: client

:sparkles: Remove task preemption (#2739)
  client/public/locales/en/translation.json
  client/src/app/api/models.ts
  client/src/app/components/task-manager/TaskManagerContext.tsx
  client/src/app/components/task-manager/TaskManagerDrawer.tsx
  client/src/app/components/task-manager/TaskNotificaitonBadge.tsx
  client/src/app/pages/tasks/TaskActionColumn.tsx
  client/src/app/pages/tasks/TaskDetails.tsx
  client/src/app/pages/tasks/TaskDetailsBase.tsx
  client/src/app/pages/tasks/tasks-page.tsx
  client/src/app/pages/tasks/useTaskActions.tsx
Due: client

:seedling: Run `npm run lint:fix` and some minor adjustments
  client/public/mockServiceWorker.js
  client/src/app/components/answer-table/answer-table.tsx
  client/src/app/components/detail-drawer/review-fields.tsx
  client/src/app/components/insights/tables/all-insights-table.tsx
  client/src/app/components/insights/tables/single-application-insights-table.tsx
  client/src/app/hooks/table-controls/filtering/useFilterState.ts
  client/src/app/hooks/useSelectionState/useSelectionState.test.ts
  client/src/app/pages/applications/analysis-wizard/__tests__/analysis-wizard.test.tsx
  client/src/app/pages/applications/application-detail-drawer/components/download-button.tsx
  client/src/app/pages/applications/application-form/__tests__/application-form.test.tsx
  client/src/app/pages/archetypes/components/archetype-form.tsx
  client/src/app/pages/asset-generators/asset-generators.tsx
  client/src/app/pages/identities/components/identity-form/__tests__/identity-form.test.tsx
  client/src/app/pages/insights/file-incidents-detail-modal/incident-code-snip-viewer.tsx
  client/src/app/pages/issues/file-incidents-detail-modal/incident-code-snip-viewer.tsx
  client/src/app/pages/migration-targets/components/custom-target-form.tsx
  client/src/app/pages/proxies/__tests__/proxy-form.test.tsx
  client/src/app/pages/review/components/review-form/review-form.tsx
  client/src/app/pages/source-platforms/components/platform-form.tsx
  package-lock.json
Due: client

Update prettier ignores for cypress workspace
  cypress/package.json
Due: none

:seedling: Run `npm run lint:fix` and some minor adjustments (#2729)
  client/public/mockServiceWorker.js
  client/src/app/components/answer-table/answer-table.tsx
  client/src/app/components/detail-drawer/review-fields.tsx
  client/src/app/components/insights/tables/all-insights-table.tsx
  client/src/app/components/insights/tables/single-application-insights-table.tsx
  client/src/app/hooks/table-controls/filtering/useFilterState.ts
  client/src/app/hooks/useSelectionState/useSelectionState.test.ts
  client/src/app/pages/applications/analysis-wizard/__tests__/analysis-wizard.test.tsx
  client/src/app/pages/applications/application-detail-drawer/components/download-button.tsx
  client/src/app/pages/applications/application-form/__tests__/application-form.test.tsx
  client/src/app/pages/archetypes/components/archetype-form.tsx
  client/src/app/pages/asset-generators/asset-generators.tsx
  client/src/app/pages/identities/components/identity-form/__tests__/identity-form.test.tsx
  client/src/app/pages/insights/file-incidents-detail-modal/incident-code-snip-viewer.tsx
  client/src/app/pages/issues/file-incidents-detail-modal/incident-code-snip-viewer.tsx
  client/src/app/pages/migration-targets/components/custom-target-form.tsx
  client/src/app/pages/proxies/__tests__/proxy-form.test.tsx
  client/src/app/pages/review/components/review-form/review-form.tsx
  client/src/app/pages/source-platforms/components/platform-form.tsx
  cypress/package.json
  package-lock.json
Due: client

:sparkles: Add proxy entry for kai-llm-proxy service
  common/src/environment.ts
  server/src/index.js
  server/src/proxies.js
Due: server

Running related tests when a page changes
  .github/scripts/get-related-tests.js
  .github/test-mapping.json
  .github/workflows/pr-related-tests.yml
Due: none

Running related tests when a page changes
  .github/scripts/get-related-tests.js
  .github/workflows/pr-related-tests.yml
Due: none

Running related tests when a page changes
  .github/workflows/pr-related-tests.yml
Due: none

Add port forward script and change port to a valid free option
  package.json
  server/src/proxies.js
Due: server

Workflow to run only related tests
  .github/workflows/pr-related-tests.yml
Due: none

Workflow to run only related tests
  cypress/package-lock.json
Due: none

Workflow to run related tests
  .github/workflows/pr-related-tests.yml
Due: none

Workflow to run related tests
  .github/workflows/pr-related-tests.yml
  cypress/test-mapping.json
Due: none

Workflow to run related tests
  .github/scripts/get-related-tests.js
Due: none
