Repository konveyor/tackle2-ui: changes, and which Codecov flags are due for each by the changed paths.
All: client, server

:test_tube: Removed Gradle test as it will be covered in koncur (#3101)
  cypress/e2e/tests/migration/applicationinventory/analysis/gradle_analysis.test.ts
Due: none

Repeat initializatio on reload
  cypress/e2e/tests/ci.test.ts
  cypress/utils/utils.ts
Due: none

Force upper case color
  client/src/app/components/labels/item-tag-label/item-tag-label.tsx
  client/src/app/pages/controls/tags/components/tag-category-form.tsx
Due: client

Fix rendering content passed via children prop
  client/src/app/components/FilterToolbar/components/SimpleSelect.tsx
Due: client

Improve proxy-form tests
  client/src/app/pages/proxies/__tests__/proxy-form.test.tsx
Due: client

Adress copilot and coderabbit review
  client/src/app/components/FilterToolbar/SelectFilterControl.tsx
  client/src/app/components/FilterToolbar/components/SimpleSelect.tsx
  client/src/app/pages/controls/tags/components/tag-category-form.tsx
Due: client

Use the same single Select in filters and forms
  client/src/app/components/FilterToolbar/SelectFilterControl.tsx
  client/src/app/components/FilterToolbar/components/SimpleSelect.tsx
  client/src/app/components/analysis/steps/custom-rules.tsx
  client/src/app/components/repository-fields/RepositoryFields.tsx
  client/src/app/hooks/useIdentityKind.ts
  client/src/app/hooks/useRepositoryKind.ts
  client/src/app/pages/assessment/components/view-archetypes/view-archetypes-page.tsx
  client/src/app/pages/asset-generators/components/generator-form/generator-form-repository.tsx
  client/src/app/pages/controls/tags/components/tag-category-form.tsx
  client/src/app/pages/identities/components/identity-form/identity-form.tsx
  client/src/app/pages/identities/components/identity-form/kind-source-form.tsx
  client/src/app/pages/migration-targets/components/custom-target-form.tsx
  client/src/app/pages/proxies/__tests__/proxy-form.test.tsx
  client/src/app/pages/proxies/proxy-form.tsx
  client/src/app/utils/utils.ts
Due: client

Fix unit tests after placeholder label changed
  client/src/app/components/FilterToolbar/components/SimpleSelect.tsx
  client/src/app/pages/controls/tags/components/tag-category-form.tsx
  client/src/app/pages/proxies/__tests__/proxy-form.test.tsx
Due: client

Fix post-merge errors
  client/src/app/components/analysis/steps/custom-rules.tsx
  client/src/app/pages/proxies/__tests__/proxy-form.test.tsx
Due: client

:sparkles: Use the same single Select in filters and forms (#3097)
  client/src/app/components/FilterToolbar/SelectFilterControl.tsx
  client/src/app/components/FilterToolbar/components/SimpleSelect.tsx
  client/src/app/components/analysis/steps/custom-rules.tsx
  client/src/app/components/labels/item-tag-label/item-tag-label.tsx
  client/src/app/components/repository-fields/RepositoryFields.tsx
  client/src/app/hooks/useIdentityKind.ts
  client/src/app/hooks/useRepositoryKind.ts
  client/src/app/pages/assessment/components/view-archetypes/view-archetypes-page.tsx
  client/src/app/pages/asset-generators/components/generator-form/generator-form-repository.tsx
  client/src/app/pages/controls/tags/components/tag-category-form.tsx
  client/src/app/pages/identities/components/identity-form/identity-form.tsx
  client/src/app/pages/identities/components/identity-form/kind-source-form.tsx
  client/src/app/pages/migration-targets/components/custom-target-form.tsx
  client/src/app/pages/proxies/__tests__/proxy-form.test.tsx
  client/src/app/pages/proxies/proxy-form.tsx
  client/src/app/utils/utils.ts
Due: client

Migrate PF4 typeahead Select to PF5
  client/public/locales/en/translation.json
  client/src/app/components/FilterToolbar/components/MultiSelectBase.tsx
  client/src/app/components/FilterToolbar/components/TypeaheadSelect.tsx
  client/src/app/components/FilterToolbar/components/selectUtils.ts
  client/src/app/components/FilterToolbar/components/useFocusHandlers.tsx
  client/src/app/components/analysis/steps/custom-rules.tsx
  client/src/app/components/discover-import-wizard/select-platform.tsx
  client/src/app/hooks/usePlatformKindList.ts
  client/src/app/pages/applications/application-form/__tests__/application-form.test.tsx
  client/src/app/pages/applications/application-form/application-form.tsx
  client/src/app/pages/applications/application-form/useApplicationFormData.ts
  client/src/app/pages/applications/application-identity-form/application-identity-form.tsx
  client/src/app/pages/archetypes/components/target-profile-form.tsx
  client/src/app/pages/archetypes/hooks/useAnalysisProfileOptions.ts
  client/src/app/pages/asset-generators/components/generator-form/generator-form-repository.tsx
  client/src/app/pages/asset-generators/components/generator-form/generator-form.tsx
  client/src/app/pages/controls/business-services/components/business-service-form.tsx
  client/src/app/pages/controls/stakeholders/components/stakeholder-form.tsx
  client/src/app/pages/controls/tags/components/tag-form.tsx
  client/src/app/pages/external/jira/tracker-form.tsx
  client/src/app/pages/migration-targets/components/custom-target-form.tsx
  client/src/app/pages/migration-waves/components/export-form.tsx
  client/src/app/pages/review/components/review-form/review-form.tsx
  client/src/app/pages/source-platforms/components/platform-form.tsx
  client/src/app/utils/model-utils.tsx
  client/tsconfig.json
  cypress/e2e/models/migration/analysis-profiles/analysis-wizard-helpers.ts
  cypress/e2e/models/migration/custom-migration-targets/custom-migration-target.ts
  cypress/e2e/views/analysis.view.ts
  cypress/e2e/views/applicationinventory.view.ts
  cypress/e2e/views/asset-generators.view.ts
  cypress/e2e/views/custom-migration-target.view.ts
  cypress/e2e/views/migration-wave.view.ts
  cypress/e2e/views/review.view.ts
  cypress/e2e/views/source-platform.view.ts
  cypress/e2e/views/stakeholders.view.ts
  cypress/e2e/views/target-profile.view.ts
  cypress/utils/utils.ts
Due: client

Delete credentials via API
  cypress/e2e/models/administration/credentials/credentials.ts
  cypress/e2e/tests/migration/migration-waves/export_to_jira_cloud.test.ts
  cypress/e2e/tests/migration/migration-waves/export_to_jira_datacenter.test.ts
  cypress/utils/utils.ts
Due: none

Utility to check GitHub issue status and conditionally skip tests
  cypress/.env.example
  cypress/cypress.config.ts
  cypress/e2e/tests/migration/applicationinventory/analysis/load_analysis.test.ts
  cypress/utils/github_utils.ts
Due: none

Delete credentials via API
  cypress/e2e/models/migration/applicationinventory/assessment.ts
  cypress/e2e/models/migration/archetypes/archetype.ts
  cypress/e2e/tests/migration/archetypes/miscellaneous.test.ts
  cypress/utils/utils.ts
Due: none

Delete credentials via API
  cypress/e2e/tests/migration/archetypes/miscellaneous.test.ts
  cypress/utils/utils.ts
Due: none

Delete credentials via API
  cypress/e2e/tests/administration/jira-connection/filter.test.ts
  cypress/e2e/tests/administration/jira-connection/miscellaneous.test.ts
  cypress/e2e/tests/rbac/cancel_task.test.ts
  cypress/utils/utils.ts
Due: none

Delete credentials via API
  cypress/e2e/models/migration/archetypes/archetype.ts
  cypress/e2e/models/migration/controls/stakeholdergroups.ts
  cypress/e2e/tests/migration/archetypes/miscellaneous.test.ts
  cypress/e2e/tests/migration/migration-waves/export_to_jira_cloud.test.ts
  cypress/e2e/tests/migration/migration-waves/export_to_jira_datacenter.test.ts
Due: none

:test_tube: Delete credentials via API (#3120)
  cypress/e2e/models/administration/credentials/credentials.ts
  cypress/e2e/models/migration/applicationinventory/assessment.ts
  cypress/e2e/models/migration/archetypes/archetype.ts
  cypress/e2e/models/migration/controls/stakeholdergroups.ts
  cypress/e2e/tests/administration/jira-connection/filter.test.ts
  cypress/e2e/tests/administration/jira-connection/miscellaneous.test.ts
  cypress/e2e/tests/migration/archetypes/miscellaneous.test.ts
  cypress/e2e/tests/migration/migration-waves/export_to_jira_cloud.test.ts
  cypress/e2e/tests/migration/migration-waves/export_to_jira_datacenter.test.ts
  cypress/e2e/tests/rbac/cancel_task.test.ts
  cypress/utils/utils.ts
Due: none

:test_tube: Delete credentials via API (#3120)
  cypress/e2e/models/administration/credentials/credentials.ts
  cypress/e2e/models/migration/applicationinventory/assessment.ts
  cypress/e2e/models/migration/archetypes/archetype.ts
  cypress/e2e/models/migration/controls/stakeholdergroups.ts
  cypress/e2e/tests/administration/jira-connection/filter.test.ts
  cypress/e2e/tests/administration/jira-connection/miscellaneous.test.ts
  cypress/e2e/tests/migration/archetypes/miscellaneous.test.ts
  cypress/e2e/tests/migration/migration-waves/export_to_jira_cloud.test.ts
  cypress/e2e/tests/migration/migration-waves/export_to_jira_datacenter.test.ts
  cypress/utils/utils.ts
Due: none

Remove rowActionsKebabToggle import
  cypress/utils/utils.ts
Due: none

Provide constant toggle ID used by e2e tests
  client/src/app/components/FilterToolbar/SelectFilterControl.tsx
Due: client

:sparkles: Sync release09 with main (#3122)
  cypress/e2e/models/administration/credentials/credentials.ts
  cypress/e2e/models/migration/applicationinventory/assessment.ts
  cypress/e2e/models/migration/archetypes/archetype.ts
  cypress/e2e/models/migration/controls/stakeholdergroups.ts
  cypress/e2e/tests/administration/jira-connection/filter.test.ts
  cypress/e2e/tests/administration/jira-connection/miscellaneous.test.ts
  cypress/e2e/tests/migration/archetypes/miscellaneous.test.ts
  cypress/e2e/tests/migration/migration-waves/export_to_jira_cloud.test.ts
  cypress/e2e/tests/migration/migration-waves/export_to_jira_datacenter.test.ts
  cypress/utils/utils.ts
Due: none

:sparkles: Provide constant toggle ID used by e2e tests (#3125)
  client/src/app/components/FilterToolbar/SelectFilterControl.tsx
Due: client

fix: use search filters to verify stakeholder group CRUD operations
  cypress/e2e/tests/migration/controls/stakeholdergroups/crud.test.ts
Due: none

fix: resolve stakeholder sort test timing and verification failures
  cypress/e2e/models/migration/controls/stakeholders.ts
  cypress/e2e/tests/migration/controls/stakeholders/sort.test.ts
  cypress/utils/utils.ts
Due: none

Utility to check GitHub issue status and conditionally skip tests
  cypress/e2e/tests/migration/applicationinventory/analysis/load_analysis.test.ts
  cypress/utils/github_utils.ts
Due: none

:test_tube: Utility to check GitHub issue status and conditionally skip tests (#3108)
  cypress/utils/github_utils.ts
Due: none

fix: stabilize selectItemsPerPage with spinner wait and proper Cypress click
  cypress/utils/utils.ts
Due: none

updates
  client/src/app/pages/external/jira/tracker-form.tsx
  client/src/app/pages/migration-waves/components/export-form.tsx
  client/src/app/pages/proxies/proxy-form.tsx
  docs/plans/react-hook-form-improvements.md
Due: client

:sparkles: use new features of react-hook-form
  client/src/app/components/analysis/steps/analysis-labels.tsx
  client/src/app/components/analysis/steps/options-advanced.tsx
  client/src/app/hooks/useFormChangeHandler.ts
  client/src/app/pages/archetypes/components/archetype-form.tsx
  client/src/app/pages/external/jira/tracker-form.tsx
  client/src/app/pages/identities/components/identity-form/identity-form.tsx
  client/src/app/pages/identities/components/identity-form/kind-source-form.tsx
  client/src/app/pages/migration-targets/components/custom-target-form.tsx
  client/src/app/pages/migration-waves/components/export-form.tsx
  client/src/app/pages/proxies/proxy-form.tsx
  docs/plans/react-hook-form-improvements.md
Due: client

getValues to useWatch as needed
  client/src/app/pages/external/jira/tracker-form.tsx
  client/src/app/pages/identities/components/identity-form/identity-form.tsx
  client/src/app/pages/migration-targets/components/custom-target-form.tsx
  client/src/app/pages/proxies/proxy-form.tsx
  docs/plans/react-hook-form-improvements.md
Due: client

:sparkles: upgrade to react-router v6
  client/package.json
  package-lock.json
Due: client

first set of changes to upgrade to v6
  client/src/app/Routes.tsx
  client/src/app/components/ErrorFallback.tsx
  client/src/app/components/HorizontalNav.tsx
  client/src/app/components/RouteWrapper.tsx
  client/src/app/components/insights/tables/single-application-insights-table.tsx
  client/src/app/hooks/useUrlParams.ts
  client/src/app/layout/HeaderApp/SsoToolbarItem.tsx
  client/src/app/layout/SidebarApp/SidebarApp.tsx
  client/src/app/pages/applications/analysis-details/AnalysisDetails.tsx
  client/src/app/pages/applications/application-detail-drawer/components/application-tags.tsx
  client/src/app/pages/applications/application-detail-drawer/tab-reports-contents.tsx
  client/src/app/pages/applications/application-detail-drawer/tab-tasks-content.tsx
  client/src/app/pages/applications/applications-table/applications-table.tsx
  client/src/app/pages/applications/manage-imports-details/manage-imports-details.tsx
  client/src/app/pages/applications/manage-imports/manage-imports.tsx
  client/src/app/pages/archetypes/archetypes-page.tsx
  client/src/app/pages/archetypes/target-profiles-page.tsx
  client/src/app/pages/assessment-management/assessment-settings/assessment-settings-page.tsx
  client/src/app/pages/assessment-management/questionnaire/questionnaire-page.tsx
  client/src/app/pages/assessment/components/assessment-actions/assessment-actions-page.tsx
  client/src/app/pages/assessment/components/assessment-actions/components/dynamic-assessment-actions-row.tsx
  client/src/app/pages/assessment/components/assessment-page-header.tsx
  client/src/app/pages/assessment/components/assessment-summary/assessment-summary-page.tsx
  client/src/app/pages/assessment/components/assessment-wizard/assessment-wizard.tsx
  client/src/app/pages/assessment/components/view-archetypes/view-archetypes-page.tsx
  client/src/app/pages/asset-generators/asset-generators.tsx
  client/src/app/pages/controls/controls.tsx
  client/src/app/pages/dependencies/dependencies.tsx
  client/src/app/pages/dependencies/dependency-apps-table.tsx
  client/src/app/pages/insights/affected-applications-page.tsx
  client/src/app/pages/insights/insights-page.tsx
  client/src/app/pages/issues/affected-applications-page.tsx
  client/src/app/pages/issues/issues-page.tsx
  client/src/app/pages/review/components/review-form/review-form.tsx
  client/src/app/pages/review/review-page.tsx
  client/src/app/pages/source-platforms/source-platforms.tsx
  client/src/app/pages/tasks/TaskDetails.tsx
  client/src/app/pages/tasks/TaskDetailsBase.tsx
  client/src/app/pages/tasks/tasks-page.tsx
  client/src/app/pages/tasks/useTaskActions.tsx
Due: client

Use NavItem.isActive instead of NavLink.className callback
  client/src/app/layout/SidebarApp/SidebarApp.tsx
Due: client

add limit for lint check without fix
  client/package.json
  common/package.json
  cypress/package.json
  scripts/eslint-w.sh
  server/package.json
Due: client, server

Enforce lint warning limit
  client/package.json
  client/src/app/pages/migration-waves/components/export-form.tsx
  common/package.json
  cypress/e2e/models/migration/applicationinventory/application.ts
  cypress/e2e/models/migration/controls/businessservices.ts
  cypress/e2e/models/migration/controls/stakeholdergroups.ts
  cypress/e2e/models/migration/controls/stakeholders.ts
  cypress/e2e/models/migration/controls/tags.ts
  cypress/e2e/tests/administration/jira-connection/filter.test.ts
  cypress/e2e/tests/migration/archetypes/miscellaneous.test.ts
  cypress/e2e/tests/migration/migration-waves/export_to_jira_datacenter.test.ts
  cypress/package.json
  cypress/support/e2e.ts
  cypress/utils/utils.ts
  server/package.json
Due: client, server

Removed analysis Tests from UI tests
  cypress/e2e/tests/migration/applicationinventory/analysis/affected_files.test.ts
  cypress/e2e/tests/migration/applicationinventory/analysis/analysis_using_profiles.test.ts
  cypress/e2e/tests/migration/applicationinventory/analysis/binary_analysis.test.ts
  cypress/e2e/tests/migration/applicationinventory/analysis/bulk_analysis.test.ts
  cypress/e2e/tests/migration/applicationinventory/analysis/custom-rules.test.ts
  cypress/e2e/tests/migration/applicationinventory/analysis/download_report.test.ts
  cypress/e2e/tests/migration/applicationinventory/analysis/excludePackages.test.ts
  cypress/e2e/tests/migration/applicationinventory/analysis/excludeTags.test.ts
  cypress/e2e/tests/migration/applicationinventory/analysis/load_analysis.test.ts
  cypress/e2e/tests/migration/applicationinventory/analysis/manuallyAnalyzePackages.test.ts
  cypress/e2e/tests/migration/applicationinventory/analysis/nodejs_analysis.test.ts
  cypress/e2e/tests/migration/applicationinventory/analysis/python_analysis.test.ts
  cypress/e2e/tests/migration/applicationinventory/analysis/source_analysis.test.ts
  cypress/e2e/tests/migration/applicationinventory/analysis/upload_binary_analysis.test.ts
Due: none

Removed analysis Tests from UI tests
  cypress/e2e/tests/custom-metrics/task_metrics.test.ts
Due: none

:sparkles: Enforce lint warning limit (#3136)
  client/package.json
  client/src/app/pages/migration-waves/components/export-form.tsx
  common/package.json
  cypress/e2e/models/migration/applicationinventory/application.ts
  cypress/e2e/models/migration/controls/businessservices.ts
  cypress/e2e/models/migration/controls/stakeholdergroups.ts
  cypress/e2e/models/migration/controls/stakeholders.ts
  cypress/e2e/models/migration/controls/tags.ts
  cypress/e2e/tests/administration/jira-connection/filter.test.ts
  cypress/e2e/tests/migration/archetypes/miscellaneous.test.ts
  cypress/e2e/tests/migration/migration-waves/export_to_jira_datacenter.test.ts
  cypress/package.json
  cypress/support/e2e.ts
  cypress/utils/utils.ts
  scripts/eslint-w.sh
  server/package.json
Due: client, server

Path conditions:
  client: any of: client/
  server: any of: server/
