Repository konveyor/tackle2-ui: changes, and which Codecov flags are due for each by the changed paths.
All: client, server

codecov.yml:

coverage:
  status:
    project:
      default: false

      client:
        informational: true
        target: auto
        flags:
          - client

      server:
        informational: true
        target: auto
        flags:
          - server

flags:
  client:
    paths:
      - client/
  server:
    paths:
      - server/

clean up flakey test due to waitFor() being used incorrectly
  client/src/app/pages/applications/application-form/__tests__/application-form.test.tsx
Due: client

review comment - applications-table
  client/src/app/pages/applications/applications-table/applications-table.tsx
Due: client

siplify axios auth interceptors
  client/src/app/axios-config/apiInit.ts
Due: client

cleanup docs, address code review comments
  client/src/app/auth/OidcAuthStrategy.tsx
  client/src/app/auth/hooks.ts
  client/src/app/axios-config/apiInit.ts
  client/src/app/rbac.ts
  client/src/app/test-config/setupTests.ts
  client/src/app/utils/rbac-utils.ts
Due: client

masquerade only in development mode
  client/src/app/auth/AuthProvider.tsx
Due: client

Add auth 'allScopesGranted'
  client/src/app/auth/MasqueradeAuthStrategy.tsx
  client/src/app/auth/NoAuthStrategy.tsx
  client/src/app/auth/OidcAuthStrategy.tsx
  client/src/app/auth/hooks.ts
  client/src/app/auth/types.ts
  client/src/app/test-config/setupTests.ts
Due: client

:sparkles: Migrate auth from @react-keycloak/web to oidc-client-ts + react-oidc-context (#3260)
  .github/dependabot.yml
  client/package.json
  client/src/app/auth/AuthProvider.tsx
  client/src/app/auth/MasqueradeAuthStrategy.tsx
  client/src/app/auth/MasqueradeDevPanel.tsx
  client/src/app/auth/NoAuthStrategy.tsx
  client/src/app/auth/OidcAuthStrategy.tsx
  client/src/app/auth/OidcToolbarItem.tsx
  client/src/app/auth/hooks.ts
  client/src/app/auth/index.ts
  client/src/app/auth/masquerade.ts
  client/src/app/auth/types.ts
  client/src/app/auth/userManager.ts
  client/src/app/axios-config/apiInit.ts
  client/src/app/axios-config/index.ts
  client/src/app/components/KeycloakProvider.tsx
  client/src/app/components/RouteWrapper.tsx
  client/src/app/components/analysis/steps/options-advanced.tsx
  client/src/app/hooks/useAvailableAnalysisProfiles.ts
  client/src/app/hooks/useIsArchitect.ts
  client/src/app/keycloak.ts
  client/src/app/layout/HeaderApp/AuthProviderToolbarItem.tsx
  client/src/app/layout/HeaderApp/HeaderApp.tsx
  client/src/app/layout/HeaderApp/tests/__snapshots__/HeaderApp.test.tsx.snap
  client/src/app/layout/SidebarApp/SidebarApp.tsx
  client/src/app/pages/analysis-profiles/analysis-profiles.tsx
  client/src/app/pages/applications/application-form/__tests__/application-form.test.tsx
  client/src/app/pages/applications/applications-table/applications-table.tsx
  client/src/app/pages/archetypes/archetypes-page.tsx
  client/src/app/pages/migration-targets/migration-targets.tsx
  client/src/app/rbac.ts
  client/src/app/test-config/setupTests.ts
  client/src/app/test-config/test-utils.tsx
  client/src/app/utils/rbac-utils.ts
  client/src/index.tsx
  package-lock.json
Due: client

revert selector used in tests
  cypress/e2e/views/common.view.ts
Due: none

revert breaking changes
  client/src/app/api/models.ts
  client/src/app/api/rest.ts
  client/src/app/components/NotificationsContext.tsx
  client/src/app/components/analysis/steps/custom-rules.tsx
  client/src/app/utils/json-schema.ts
  client/src/app/utils/utils.ts
  client/src/mocks/config.ts
Due: client

revert changes in eslint config and step-capture-parameters
  client/src/app/pages/applications/generate-assets-wizard/step-capture-parameters.tsx
  eslint.config.mjs
Due: client

Adapt login method for new UI
  cypress/.env.example
  cypress/cypress.config.ts
  cypress/utils/utils.ts
Due: none

Adapt login method for new UI
  cypress/cypress.config.ts
Due: none

Adjust colors after PF6 migration
  branding/images/masthead-logo.svg
  client/src/app/Constants.ts
  client/src/app/pages/applications/analysis-wizard/wizard.css
Due: client

coderabbit code review fix
  client/src/app/auth/masquerade.ts
Due: client

:sparkles: Update dev masquerade to include "no auth" as the default
  client/src/app/auth/MasqueradeAuthStrategy.tsx
  client/src/app/auth/MasqueradeDevPanel.tsx
  client/src/app/auth/NoAuthStrategy.tsx
  client/src/app/auth/OidcToolbarItem.tsx
  client/src/app/auth/masquerade.ts
  client/src/app/auth/types.ts
Due: client

give the no auth preset all the roles
  client/src/app/auth/masquerade.ts
Due: client

:sparkles: Update dev masquerade to include "no auth" as the default (#3296)
  client/src/app/auth/MasqueradeAuthStrategy.tsx
  client/src/app/auth/MasqueradeDevPanel.tsx
  client/src/app/auth/NoAuthStrategy.tsx
  client/src/app/auth/OidcToolbarItem.tsx
  client/src/app/auth/masquerade.ts
  client/src/app/auth/types.ts
Due: client

code review fixes
  common/src/environment.ts
  entrypoint.sh
Due: none

fix entrypoint env var checks
  entrypoint.sh
Due: none

:sparkles: Add `/oidc` proxy for Hub OIDC provider
  client/src/app/auth/OidcAuthStrategy.tsx
  client/src/app/auth/userManager.ts
  common/src/environment.ts
  entrypoint.sh
  package-lock.json
  package.json
  server/src/index.js
  server/src/proxies.js
Due: client, server

Update the setForwardedHeader function to only set the Forwarded header
  server/src/proxies.js
Due: server

code review fixes - entrypoint.sh
  entrypoint.sh
Due: none

:sparkles: Add `/oidc` proxy for Hub OIDC provider (#3294)
  client/src/app/auth/OidcAuthStrategy.tsx
  client/src/app/auth/userManager.ts
  common/src/environment.ts
  entrypoint.sh
  package-lock.json
  package.json
  server/src/index.js
  server/src/proxies.js
Due: client, server

:bug: Adjust colors after PF6 migration (#3286)
  branding/images/masthead-logo.svg
  client/src/app/Constants.ts
  client/src/app/pages/applications/analysis-wizard/wizard.css
Due: client

Update data test ID for unlinking Jira connections
  cypress/e2e/tests/migration/migration-waves/unlink_application.test.ts
Due: none

:test_tube: Update data test ID for unlinking Jira connections (#3301)
  cypress/e2e/tests/migration/migration-waves/unlink_application.test.ts
Due: none

:test_tube: Adapt login method for new UI (#3297)
  cypress/.env.example
  cypress/cypress.config.ts
  cypress/utils/utils.ts
Due: none

code review fixes
  client/src/app/auth/types.ts
  client/src/app/test-config/setupTests.ts
Due: client

:sparkles: Authorization checks updated to uses scopes instead of roles
  client/src/app/Routes.tsx
  client/src/app/auth/MasqueradeAuthStrategy.tsx
  client/src/app/auth/MasqueradeDevPanel.tsx
  client/src/app/auth/NoAuthStrategy.tsx
  client/src/app/auth/OidcAuthStrategy.tsx
  client/src/app/auth/hooks.ts
  client/src/app/auth/index.ts
  client/src/app/auth/masquerade.ts
  client/src/app/auth/roles-to-scopes.ts
  client/src/app/auth/types.ts
  client/src/app/components/RouteWrapper.tsx
  client/src/app/components/analysis/steps/options-advanced.tsx
  client/src/app/hooks/useAvailableAnalysisProfiles.ts
  client/src/app/layout/SidebarApp/SidebarApp.tsx
  client/src/app/pages/analysis-profiles/analysis-profiles.tsx
  client/src/app/pages/applications/applications-table/applications-table.tsx
  client/src/app/pages/archetypes/archetypes-page.tsx
  client/src/app/pages/assessment-management/assessment-settings/assessment-settings-page.tsx
  client/src/app/pages/controls/ControlTableActionsColumn.tsx
  client/src/app/pages/controls/business-services/business-services.tsx
  client/src/app/pages/controls/job-functions/job-functions.tsx
  client/src/app/pages/controls/stakeholder-groups/stakeholder-groups.tsx
  client/src/app/pages/controls/stakeholders/stakeholders.tsx
  client/src/app/pages/controls/tags/tag-categories-table.tsx
  client/src/app/pages/external/jira/trackers.tsx
  client/src/app/pages/migration-targets/migration-targets.tsx
  client/src/app/pages/migration-waves/migration-waves.tsx
  client/src/app/rbac.ts
  client/src/app/scopes.ts
  client/src/app/test-config/setupTests.ts
Due: client

:sparkles: Authorization checks updated to uses scopes instead of roles (#3300)
  client/src/app/Routes.tsx
  client/src/app/auth/MasqueradeAuthStrategy.tsx
  client/src/app/auth/MasqueradeDevPanel.tsx
  client/src/app/auth/NoAuthStrategy.tsx
  client/src/app/auth/OidcAuthStrategy.tsx
  client/src/app/auth/hooks.ts
  client/src/app/auth/index.ts
  client/src/app/auth/masquerade.ts
  client/src/app/auth/roles-to-scopes.ts
  client/src/app/auth/types.ts
  client/src/app/components/RouteWrapper.tsx
  client/src/app/components/analysis/steps/options-advanced.tsx
  client/src/app/hooks/useAvailableAnalysisProfiles.ts
  client/src/app/layout/SidebarApp/SidebarApp.tsx
  client/src/app/pages/analysis-profiles/analysis-profiles.tsx
  client/src/app/pages/applications/applications-table/applications-table.tsx
  client/src/app/pages/archetypes/archetypes-page.tsx
  client/src/app/pages/assessment-management/assessment-settings/assessment-settings-page.tsx
  client/src/app/pages/controls/ControlTableActionsColumn.tsx
  client/src/app/pages/controls/business-services/business-services.tsx
  client/src/app/pages/controls/job-functions/job-functions.tsx
  client/src/app/pages/controls/stakeholder-groups/stakeholder-groups.tsx
  client/src/app/pages/controls/stakeholders/stakeholders.tsx
  client/src/app/pages/controls/tags/tag-categories-table.tsx
  client/src/app/pages/external/jira/trackers.tsx
  client/src/app/pages/migration-targets/migration-targets.tsx
  client/src/app/pages/migration-waves/migration-waves.tsx
  client/src/app/rbac.ts
  client/src/app/scopes.ts
  client/src/app/test-config/setupTests.ts
Due: client

:seedling: Replace Webpack with Rspack
  client/config/rspack.common.ts
  client/config/rspack.dev.ts
  client/config/rspack.prod.ts
  client/config/stylePaths.ts
  client/config/webpack.common.ts
  client/config/webpack.prod.ts
  client/package.json
  package-lock.json
  package.json
Due: client

:seedling: Replace rollup with rslib - package: server
  package-lock.json
  package.json
  server/package.json
  server/rollup.config.js
  server/rslib-plugin-run.ts
  server/rslib.config.ts
  server/src/index.js
Due: server

update cspell dict with new library names
  cspell.json
Due: none

:seedling: Replace rollup with rslib - package: common
  client/config/rspack.common.mts
  client/config/rspack.dev.mts
  client/config/rspack.prod.mts
  client/package.json
  common/package.json
  common/rollup.config.js
  common/rslib.config.ts
  common/src/branding-strings-stub.json
  common/src/branding.ts
  common/src/virtual-modules.d.ts
  common/tsconfig.json
  package-lock.json
  package.json
Due: client

Fix the branding asset copying to be a rspack configuration only process
  client/config/rspack.common.mts
  client/config/rspack.dev.mts
  client/config/rspack.prod.mts
  common/rslib.config.ts
  common/src/branding.ts
Due: client

add common module cjs build for jest
  client/config/jest.config.ts
  common/package.json
  common/rslib.config.ts
Due: client
