Repository konveyor/tackle2-ui: changes, and which Codecov flags are due for each by the changed paths.
All: client, server

codecov.yml:

coverage:
  status:
    project:
      default: false

      client:
        informational: true
        target: auto
        flags:
          - client

      server:
        informational: true
        target: auto
        flags:
          - server

flags:
  client:
    paths:
      - client/
  server:
    paths:
      - server/

:bug: Update the bulk selector to only consider the current page (#2197)
  client/public/locales/en/translation.json
  client/src/app/components/TableControls/TableRowContentWithControls.tsx
  client/src/app/components/ToolbarBulkExpander.tsx
  client/src/app/components/ToolbarBulkSelector.tsx
  client/src/app/hooks/selection/index.ts
  client/src/app/hooks/selection/useBulkSelection.ts
  client/src/app/hooks/table-controls/types.ts
  client/src/app/hooks/table-controls/useLocalTableControls.ts
  client/src/app/hooks/table-controls/useTableControlProps.ts
  client/src/app/hooks/table-controls/useTableControlState.ts
  client/src/app/hooks/useSelectionState/index.ts
  client/src/app/hooks/useSelectionState/useSelectionState.test.ts
  client/src/app/hooks/useSelectionState/useSelectionState.ts
  client/src/app/pages/applications/applications-table/applications-table.tsx
  client/src/app/pages/applications/components/application-detail-drawer/application-detail-drawer.tsx
  client/src/app/pages/dependencies/dependencies.tsx
  client/src/app/pages/dependencies/dependency-apps-table.tsx
  client/src/app/pages/issues/affected-applications/affected-applications.tsx
  client/src/app/pages/issues/issue-detail-drawer/file-incidents-detail-modal/file-all-incidents-table.tsx
  client/src/app/pages/issues/issue-detail-drawer/issue-affected-files-table.tsx
  client/src/app/pages/issues/issues-table.tsx
  client/src/app/pages/migration-waves/components/manage-applications-form.tsx
  client/src/app/pages/migration-waves/migration-waves.tsx
  client/src/app/pages/reports/application-selection-context.tsx
  client/src/app/pages/reports/components/adoption-candidate-table/adoption-candidate-table.tsx
  client/src/app/pages/tasks/tasks-page.tsx
Due: client

:sparkles: Add Tasks tab to the Applications table application details drawer (#2123)
  client/src/app/Paths.ts
  client/src/app/Routes.tsx
  client/src/app/components/task-manager/TaskManagerDrawer.tsx
  client/src/app/pages/applications/components/application-detail-drawer/application-detail-drawer.tsx
  client/src/app/pages/tasks/TaskDetails.tsx
  client/src/app/pages/tasks/tasks-page.tsx
  client/src/app/pages/tasks/useTaskActions.tsx
Due: client

:seedling: Drop codecov from ci (#2184)
  .github/workflows/ci-repo.yml
Due: none

:sparkles: Improve Responsiveness of Action Cells in Table Component on smaller screens (#2145)
  client/src/app/pages/applications/applications-table/applications-table.tsx
  client/src/app/pages/controls/ControlTableActionButtons.tsx
Due: client

:seedling: Drop use of `@migtools/lib-ui` (#2193)
  client/package.json
  client/src/app/hooks/table-controls/column/useColumnState.ts
  client/src/app/hooks/table-controls/types.ts
  client/src/app/hooks/table-controls/useLocalTableControls.ts
  client/src/app/hooks/usePersistentState.ts
  client/src/app/hooks/useSelectionState/index.ts
  client/src/app/hooks/useSelectionState/useSelectionState.test.ts
  client/src/app/hooks/useSelectionState/useSelectionState.ts
  client/src/app/hooks/useStorage.ts
  client/src/app/pages/applications/components/application-detail-drawer/application-detail-drawer.tsx
  client/src/app/pages/dependencies/dependencies.tsx
  client/src/app/pages/dependencies/dependency-apps-table.tsx
  client/src/app/pages/issues/affected-applications/affected-applications.tsx
  client/src/app/pages/issues/issue-detail-drawer/file-incidents-detail-modal/file-all-incidents-table.tsx
  client/src/app/pages/issues/issue-detail-drawer/issue-affected-files-table.tsx
  client/src/app/pages/issues/issues-table.tsx
  client/src/app/pages/reports/application-selection-context.tsx
  client/src/app/pages/tasks/tasks-page.tsx
  package-lock.json
Due: client

:bug: Show deleted application's name in toast notification (#2118)
  client/public/locales/en/translation.json
  client/src/app/pages/applications/applications-table/applications-table.tsx
Due: client

:seedling: Update global-ci testing tag to `@ci` (#2186)
  .github/workflows/ci-global.yml
Due: none

:bug: Add ID attribute to archetype kebab menu (#2203)
  client/src/app/pages/archetypes/archetypes-page.tsx
Due: client

:sparkles:Build presets & map analysis state functions (#2152)
  client/public/locales/en/translation.json
  client/src/app/components/Icons/IconedStatus.tsx
  client/src/app/pages/applications/components/application-analysis-status.tsx
Due: client

:sparkles: adding filter& sort by analysis to Application-inventory table (#2100)
  client/src/app/pages/applications/applications-table/applications-table.tsx
  client/src/app/pages/applications/components/application-analysis-status.tsx
Due: client

:seedling: Update keycloak-js to 26.1.0 (#2182)
  client/config/jest.config.ts
  client/package.json
  package-lock.json
Due: client

:bug: Update application assess override check and assessment column (#2205)
  client/src/app/hooks/useAssessmentStatus.ts
  client/src/app/pages/applications/applications-table/applications-table.tsx
  client/src/app/pages/applications/applications-table/components/column-application-name.tsx
  client/src/app/pages/applications/components/application-assessment-status/application-assessment-status.tsx
  client/src/app/pages/applications/components/application-assessment-status/tests/application-assessment-status.test.tsx
  client/src/app/pages/applications/components/application-detail-drawer/application-detail-drawer.tsx
  client/src/app/pages/applications/useDecoratedApplications.ts
  client/src/app/utils/application-assessment-status.ts
Due: client

:bug: Fix questionnaire import row placement issue (#2185)
  README.md
  client/src/app/pages/assessment-management/assessment-settings/assessment-settings-page.tsx
Due: client

:sparkles: Adding a tooltip when the button is unavailable (#2126)
  client/public/locales/en/translation.json
  client/src/app/components/task-manager/TaskManagerDrawer.tsx
  client/src/app/pages/tasks/useTaskActions.tsx
Due: client

:seedling: Bump actions/upload-artifact@v3 -> v4 (#2183)
  .github/workflows/ci-global.yml
Due: none

:ghost: update caniuse-list database (#2196)
  package-lock.json
Due: none

:bug: Add "select all filtered" to bulk selection MTA-4886 (#2209)
  client/src/app/hooks/selection/useBulkSelection.ts
  client/src/app/hooks/table-controls/index.ts
  client/src/app/hooks/table-controls/types.ts
  client/src/app/hooks/table-controls/useLocalTableControlDerivedState.ts
  client/src/app/hooks/table-controls/useLocalTableControls.ts
  client/src/app/pages/applications/applications-table/applications-table.tsx
  client/src/app/pages/migration-waves/components/manage-applications-form.tsx
  client/src/app/pages/migration-waves/migration-waves.tsx
Due: client

:ghost: Update README.md for release-0.7 status (#2217)
  README.md
Due: none

:seedling: Update ID locator for actions element in application tables (#2232)
  client/src/app/pages/applications/applications-table/applications-table.tsx
Due: client

:bug: Replace EmptyState with NoDataEmptyState component for consistency (#2164)
  client/src/app/pages/tasks/tasks-page.tsx
Due: client

:seedling: reference `tj-actions/changed-files` action by commit (#2206)
  .github/workflows/ci-image-build.yml
  .github/workflows/ci-repo.yml
Due: none

:seedling: Update dependabot configs (#2219)
  .github/dependabot.yml
Due: none

:bug: Remove the unused tag category rank field (#2225)
  client/public/locales/en/translation.json
  client/src/app/api/models.ts
  client/src/app/pages/controls/tags/components/tag-category-form.tsx
  client/src/app/pages/controls/tags/tags.tsx
  client/src/mocks/stub-new-work/archetypes.ts
Due: client

:sparkles: Bulk download analysis details (#2142)
  client/src/app/api/rest.ts
  client/src/app/pages/applications/applications-table/applications-table.tsx
Due: client

:sparkles: Update custom migration targets filtering/creation (#2230)
  client/public/locales/en/translation.json
  client/src/app/api/models.ts
  client/src/app/api/rest.ts
  client/src/app/pages/migration-targets/components/custom-target-form.tsx
  client/src/app/pages/migration-targets/migration-targets.tsx
  client/src/app/pages/migration-targets/useMigrationProviderList.ts
  client/src/app/queries/targets.ts
Due: client

:seedling: Drop Spanish translation, it is out of date (#2224)
  client/public/locales/es/translation.json
Due: client

:book: Detail the implementation of platform awareness and asset generation (#2274)
  docs/enhancements/platform-awareness-asset-generation/README.md
Due: none

:book: Fix some typos in readme and docs (#2268)
  README.md
  docs/local-minikube-setup.md
  hack/README.md
Due: none

:seedling: Upgrade rollup and plugins (#2231)
  common/rollup.config.js
  package-lock.json
  package.json
  server/rollup.config.js
Due: server

:ghost: Add project level cspell dictionary (#2251)
  cspell.json
Due: none

Update README.md
  docs/enhancements/platform-awareness-asset-generation/README.md
Due: none

:bug: Analysis config excluded labels are labels not tags (#2240)
  client/src/app/api/models.ts
  client/src/app/pages/applications/analysis-wizard/analysis-wizard.tsx
Due: client

:seedling: Dependabot - do weekly checks, group changes (#2312)
  .github/dependabot.yml
  package.json
Due: none

:seedling: Remove FeatureFlags and dotenv-webpack (#2293)
  client/config/webpack.common.ts
  client/package.json
  client/src/app/FeatureFlags.ts
  client/src/app/Routes.tsx
  client/src/app/keycloak.ts
  client/src/app/layout/SidebarApp/SidebarApp.tsx
  client/src/app/pages/identities/components/identity-form/identity-form.tsx
  common/src/index.ts
  package-lock.json
  package.json
Due: client

:seedling: Upgrade webpack, express, proxies, dev mode (#2313)
  .npmrc
  README.md
  client/config/webpack.dev.ts
  client/package.json
  client/src/app/queries/cookies.ts
  client/src/app/utils/rules-utils.ts
  common/package.json
  common/src/index.ts
  common/src/proxies.ts
  package-lock.json
  package.json
  server/package.json
  server/src/index.js
  server/src/proxies.js
Due: client, server

:ghost: remove web-vitals (#2318)
  client/package.json
  client/src/app/reportWebVitals.ts
  client/src/index.tsx
  package-lock.json
Due: client

:seedling: add unit tests for `getUpdatedFormLabels` (#2325)
  client/src/app/pages/applications/analysis-wizard/__tests__/utils.test.tsx
Due: client

:seedling: Refactor wizard form field name to improve readability (#2200)
  client/public/locales/en/translation.json
  client/src/app/components/target-card/target-card.tsx
  client/src/app/pages/applications/analysis-wizard/__tests__/utils.test.tsx
  client/src/app/pages/applications/analysis-wizard/analysis-wizard.tsx
  client/src/app/pages/applications/analysis-wizard/custom-rules.tsx
  client/src/app/pages/applications/analysis-wizard/review.tsx
  client/src/app/pages/applications/analysis-wizard/schema.ts
  client/src/app/pages/applications/analysis-wizard/set-options.tsx
  client/src/app/pages/applications/analysis-wizard/set-targets.tsx
  client/src/app/pages/applications/analysis-wizard/utils.ts
  client/src/app/utils/rules-utils.ts
Due: client

:seedling: Upgrade husky to 9.1.7 and adjust scripts (#2292)
  .husky/pre-commit
  package-lock.json
  package.json
Due: none

:sparkles: Upgrade i18n (#2407)
  client/package.json
  client/public/locales/en/translation.json
  client/src/app/components/ConfirmDeleteDialog/ConfirmDeleteDialog.tsx
  client/src/app/components/ToolbarBulkSelector.tsx
  client/src/app/layout/AppAboutModal/AppAboutModal.tsx
  client/src/app/layout/AppAboutModal/tests/__snapshots__/AppAboutModal.test.tsx.snap
  client/src/app/pages/applications/applications-table/applications-table.tsx
  client/src/app/pages/archetypes/archetypes-page.tsx
  package-lock.json
Due: client
