Repository konveyor/tackle2-ui: changes, and which Codecov flags are due for each by the changed paths.
All: client, server

codecov.yml:

coverage:
  status:
    patch:
      default:
        informational: true
        target: auto

    project:
      default: false

      client:
        informational: true
        target: auto
        flags:
          - client

      server:
        informational: true
        target: auto
        flags:
          - server

flags:
  client:
    paths:
      - client/
  server:
    paths:
      - server/

ignore:
  - "**/mockServiceWorker.js"

# turn off github annotations, too many annotations are not useful
# see: https://docs.codecov.com/docs/github-checks
github_checks:
  annotations: false

:ghost: Add project level cspell dictionary
  cspell.json
Due: none

:bug: Validate shape of uploaded custom rules files
  client/src/app/api/models.ts
  client/src/app/components/CustomRuleFilesUpload.tsx
  client/src/app/components/HookFormPFFields/HookFormPFGroupController.tsx
  client/src/app/components/HookFormPFFields/HookFormPFTextInput.tsx
  client/src/app/hooks/useRuleFiles.tsx
  client/src/app/pages/applications/analysis-wizard/custom-rules.tsx
  client/src/app/pages/applications/analysis-wizard/schema.ts
  client/src/app/pages/migration-targets/components/custom-target-form.tsx
  client/src/app/utils/rules-utils.ts
Due: client

:ghost: Add project level cspell dictionary (#2251)
  cspell.json
Due: none

:book: Fix some typos in readme and docs
  README.md
  docs/local-minikube-setup.md
  hack/README.md
Due: none

:book: Fix some typos in readme and docs (#2268)
  README.md
  docs/local-minikube-setup.md
  hack/README.md
Due: none

Partial updates
  docs/enhancements/platform-awareness-asset-generation/README.md
Due: none

:book: Detail the implementation of platform awareness and asset generation
  docs/enhancements/platform-awareness-asset-generation/README.md
Due: none

fix broken internal link
  docs/enhancements/platform-awareness-asset-generation/README.md
Due: none

minor additions
  docs/enhancements/platform-awareness-asset-generation/README.md
Due: none

First full pass at all entities, views, and base actions
  docs/enhancements/platform-awareness-asset-generation/README.md
Due: none

Updates through the platform awareness entities
  docs/enhancements/platform-awareness-asset-generation/README.md
Due: none

:book: Detail the implementation of platform awareness and asset generation (#2274)
  docs/enhancements/platform-awareness-asset-generation/README.md
Due: none

:ghost: Upgrade husky to 9.1.7 and adjust scripts
  .husky/pre-commit
  package-lock.json
  package.json
Due: none

:seedling: Remove FeatureFlags and dotenv-webpack
  client/config/webpack.common.ts
  client/package.json
  client/src/app/FeatureFlags.ts
  client/src/app/Routes.tsx
  client/src/app/keycloak.ts
  client/src/app/layout/SidebarApp/SidebarApp.tsx
  client/src/app/pages/identities/components/identity-form/identity-form.tsx
  common/src/index.ts
  package-lock.json
Due: client

Define 'process.env' as '{}' in webpack's build
  client/config/webpack.common.ts
  package-lock.json
  package.json
Due: client

Update README.md
  docs/enhancements/platform-awareness-asset-generation/README.md
Due: none

:seedling: Remove FeatureFlags and dotenv-webpack (#2293)
  client/config/webpack.common.ts
  client/package.json
  client/src/app/FeatureFlags.ts
  client/src/app/Routes.tsx
  client/src/app/keycloak.ts
  client/src/app/layout/SidebarApp/SidebarApp.tsx
  client/src/app/pages/identities/components/identity-form/identity-form.tsx
  common/src/index.ts
  package-lock.json
  package.json
Due: client

:seedling: Upgrade husky to 9.1.7 and adjust scripts (#2292)
  .husky/pre-commit
  package-lock.json
  package.json
Due: none

Working towards removing the race condition with multiple uploads, error handling changes
  client/src/app/components/CustomRuleFilesUpload.tsx
  client/src/app/hooks/useRuleFiles.tsx
  client/src/app/pages/applications/analysis-wizard/custom-rules.tsx
  client/src/app/pages/migration-targets/components/custom-target-form.tsx
Due: client

:seedling: Refactor wizard form field name to improve readability
  client/public/locales/en/translation.json
  client/src/app/components/target-card/target-card.tsx
  client/src/app/pages/applications/analysis-wizard/analysis-wizard.tsx
  client/src/app/pages/applications/analysis-wizard/custom-rules.tsx
  client/src/app/pages/applications/analysis-wizard/review.tsx
  client/src/app/pages/applications/analysis-wizard/schema.ts
  client/src/app/pages/applications/analysis-wizard/set-options.tsx
  client/src/app/pages/applications/analysis-wizard/set-targets.tsx
  client/src/app/pages/applications/analysis-wizard/utils.ts
  client/src/app/utils/rules-utils.ts
Due: client

:seedling: Dependabot, do weekly checks
  .github/dependabot.yml
  package.json
Due: none

:seedling: Dependabot - do weekly checks, group changes (#2312)
  .github/dependabot.yml
  package.json
Due: none

:seedling: Upgrade webpack, express, proxies, dev mode
  .npmrc
  README.md
  client/config/webpack.dev.ts
  client/package.json
  client/src/app/queries/cookies.ts
  client/src/app/utils/rules-utils.ts
  common/package.json
  common/rollup.config.js
  common/src/index.ts
  common/src/proxies.ts
  package-lock.json
  package.json
  server/package.json
  server/src/index.js
  server/src/proxies.js
Due: client, server

server port default in dev 9000, in prod 8080
  README.md
  common/rollup.config.js
  server/src/index.js
  server/src/proxies.js
Due: server

:seedling: Upgrade webpack, express, proxies, dev mode (#2313)
  .npmrc
  README.md
  client/config/webpack.dev.ts
  client/package.json
  client/src/app/queries/cookies.ts
  client/src/app/utils/rules-utils.ts
  common/package.json
  common/src/index.ts
  common/src/proxies.ts
  package-lock.json
  package.json
  server/package.json
  server/src/index.js
  server/src/proxies.js
Due: client, server

:ghost: remove web-vitals
  client/package.json
  client/src/app/reportWebVitals.ts
  client/src/index.tsx
  package-lock.json
Due: client

:seedling: Refactor dist npm script
  copy-dist.json
  package-lock.json
  package.json
Due: none

[TEMP] keep the old dist build around for comparison
  package-lock.json
  package.json
Due: none

:ghost: remove web-vitals (#2318)
  client/package.json
  client/src/app/reportWebVitals.ts
  client/src/index.tsx
  package-lock.json
Due: client

:ghost: Refactor applications-table action dropdown list
  client/src/app/pages/applications/applications-table/applications-table.tsx
Due: client

:seedling: add unit tests for `getUpdatedFormLabels`
  client/src/app/pages/applications/analysis-wizard/__tests__/utils.test.tsx
Due: client

:seedling: add unit tests for `getUpdatedFormLabels` (#2325)
  client/src/app/pages/applications/analysis-wizard/__tests__/utils.test.tsx
Due: client

Update unit tests for the util function rename
  client/src/app/pages/applications/analysis-wizard/__tests__/utils.test.tsx
Due: client
